<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overlay</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            font-family: system-ui;
        }
    </style>
</head>

<body>
    <div class="flex flex-col bg-white">
        <div class="self-stretch bg-[#0000001A] h-[984px]">
            <div class="flex flex-col self-stretch bg-white py-5 my-[174px] mx-[400px] gap-5 rounded-2xl border border-solid border-stone-200"
                style="box-shadow: 0px 10px 10px #00000008">
                <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/v5lzrf2v_expires_30_days.png"
                    class="self-stretch h-[350px] mx-5 rounded-2xl object-fill" />
                <div class="flex flex-col items-start self-stretch mx-5 gap-3">
                    <span class="text-slate-900 text-[28px] font-bold">
                        We have sent you a mail
                    </span>
                    <span class="text-stone-600 text-base">
                        Korem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit
                        interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia
                        nostra, per inceptos himenaeos. Curabitur tempus urna at turpis condimentum lobortis.
                    </span>
                </div>
                <div class="flex flex-col items-center self-stretch py-4 mx-5">
                    <span class="text-stone-600 text-base font-bold">
                        Close
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>

</html>