<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            font-family: system-ui;
        }
    </style>
</head>

<body>
    <div class="flex flex-col bg-white">
        <div class="self-stretch bg-white h-[982px]">
            <div class="flex flex-col items-start self-stretch py-[105px] mx-[481px]">
                <button
                    class="flex items-start bg-white text-left py-[11px] px-4 mb-[23px] gap-2 rounded-[100000px] border border-solid border-stone-200"
                    style="box-shadow: 0px 1px 2px #0A0C120D" onclick="alert('Pressed!')" }>
                    <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/o01zgtqg_expires_30_days.png"
                        class="w-5 h-5 rounded-[100000px] object-fill" />
                    <span class="text-slate-900 text-sm font-bold">
                        Back to sign in
                    </span>
                </button>
                <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/3at8nlgf_expires_30_days.png"
                    class="self-stretch h-[277px] mb-6 object-fill" />
                <span class="text-slate-900 text-[28px] font-bold mb-1">
                    Forgot password ?
                </span>
                <span class="text-stone-600 text-base text-center w-[550px] mb-[23px]">
                    Not to worry, you can easily recover your log in details, just enter your recovery mail and
                    instructions will be sent to you.
                </span>
                <div class="flex flex-col items-start self-stretch py-10 mb-6 gap-2">
                    <span class="text-slate-900 text-sm font-bold">
                        Email
                    </span>
                    <input type="text" placeholder="Enter your email"
                        class="self-stretch text-stone-400 bg-white text-base py-3.5 px-3 rounded-xl border border-solid border-stone-200"
                        style="box-shadow: 0px 1px 2px #0A0C120D" />
                </div>
                <button
                    class="flex flex-col items-center self-stretch bg-[#06B6E9] text-left py-4 mt-12 rounded-[100000px] border-0"
                    onclick="alert('Pressed!')" }>
                    <span class="text-white text-base font-bold">
                        Continue
                    </span>
                </button>
            </div>
        </div>
    </div>
</body>

</html>