
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeviceUser</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            font-family: system-ui;
        }
    </style>
</head>

<body>
    <div class="flex flex-col bg-white">
        <div class="self-stretch bg-neutral-100 h-[985px]">
            <div class="flex items-start self-stretch my-4 mx-2 gap-4">
                <div class="flex flex-col shrink-0 items-start relative">
                    <div
                        class="flex flex-col items-start bg-white pb-[13px] rounded-[20px] border border-solid border-stone-200">
                        <div class="flex items-center p-4 mb-7 gap-2.5">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/w709f7sp_expires_30_days.png"
                                class="w-[204px] h-10 object-fill" />
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/xonu2ngn_expires_30_days.png"
                                class="w-6 h-6 object-fill" />
                        </div>
                        <div class="flex items-center bg-white p-3 mb-7 mx-3 rounded-2xl border border-solid border-stone-200"
                            style="box-shadow: 0px 1px 2px #0A0C120D">
                            <div class="flex shrink-0 items-center gap-3">
                                <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/2dffn6ux_expires_30_days.png"
                                    class="w-10 h-10 object-fill" />
                                <div class="flex flex-col shrink-0 items-start">
                                    <span class="text-slate-900 text-sm font-bold my-1 ml-[1px] mr-[61px]">
                                        Maria Afolabi
                                    </span>
                                    <span class="text-stone-600 text-sm">
                                        Unit Head
                                    </span>
                                </div>
                            </div>
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/1msiqpcx_expires_30_days.png"
                                class="w-4 h-4 rounded-2xl object-fill" />
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/pdgmes9e_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                Dashboard
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/aqr9dqzt_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                My department
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/owfvdvfh_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                Employees
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/zfrr91qg_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                Attendance
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/kydp36om_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                Report
                            </span>
                        </div>
                        <div class="flex items-center bg-[#E6F8FD] py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/r7q1mwii_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <input type="text" placeholder="Administrators"
                                class="text-[#0592BA] bg-transparent text-sm font-bold w-[101px] py-[1px] border-0" />
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/jxi24ypc_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                Organization
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/kqi719iv_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                Salary Management
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/yxlc4xh3_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                KPI Management
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/5xuckoh5_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                Recruitment
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/7hf3rucx_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                File manager
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/17qy328b_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                Biometrics data
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/h5bfhvuz_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                Settings
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/9jwfxlri_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                SMS configuration
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-2.5 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/htav8kxo_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-600 text-sm font-bold">
                                Sign Out
                            </span>
                        </div>
                        <span class="text-stone-400 text-xs ml-7">
                            HeckerPeople App V1.0.0
                        </span>
                    </div>
                    <span class="text-stone-400 text-xs absolute bottom-[-9px] left-7">
                        © Heckerbella Ltd 2025
                    </span>
                </div>
                <div class="flex-1 items-start relative">
                    <div class="self-stretch bg-white pb-[378px] rounded-[20px] border border-solid border-stone-200">
                        <div class="flex items-start self-stretch mt-5 mb-9 mx-5">
                            <span class="text-slate-900 text-2xl font-bold mb-4 mr-[359px]">
                                Adminstrator
                            </span>
                            <div class="flex-1 h-[52px]">
                            </div>
                        </div>
                        <div class="flex flex-col self-stretch gap-4">
                            <div class="flex flex-col items-start self-stretch py-[1px] mx-8">
                                <div class="flex items-start ml-2.5">
                                    <span class="text-stone-400 text-sm font-bold my-3 mx-4">
                                        Admin User
                                    </span>
                                    <button
                                        class="flex flex-col shrink-0 items-start bg-[#06B6E9] text-left py-2 px-4 rounded-tl rounded-tr border-0"
                                        onclick="alert('Pressed!')" }>
                                        <span class="text-white text-sm font-bold">
                                            Device User
                                        </span>
                                    </button>
                                    <span class="text-stone-400 text-sm font-bold my-3 mx-4">
                                        Admin Settings
                                    </span>
                                </div>
                                <div class="bg-stone-200 w-[378px] h-[1px] ml-2.5">
                                </div>
                            </div>
                            <div class="flex items-center self-stretch px-2.5 mx-8">
                                <span class="text-stone-600 text-sm mr-[310px]">
                                    Showing all Devices logged
                                </span>
                                <div class="flex flex-1 items-center">
                                    <button
                                        class="flex shrink-0 items-start bg-white text-left py-[9px] px-4 ml-5 mr-4 rounded-[100000px] border border-solid border-stone-200"
                                        style="box-shadow: 0px 1px 2px #0A0C120D" onclick="alert('Pressed!')" }>
                                        <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/gl39y00q_expires_30_days.png"
                                            class="w-5 h-5 mr-2 rounded-[100000px] object-fill" />
                                        <span class="text-slate-900 text-sm font-bold mr-[11px]">
                                            Filters
                                        </span>
                                        <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/xb2wwl46_expires_30_days.png"
                                            class="w-5 h-5 rounded-[100000px] object-fill" />
                                    </button>
                                    <div class="flex flex-1 items-center bg-white py-2 px-3 mr-4 gap-2 rounded-xl border border-solid border-stone-200"
                                        style="box-shadow: 0px 1px 2px #0A0C120D">
                                        <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/zqjqjmjv_expires_30_days.png"
                                            class="w-[18px] h-[18px] object-fill" />
                                        <input type="text" placeholder="Search keyword"
                                            class="flex-1 self-stretch text-stone-400 bg-transparent text-sm border-0" />
                                    </div>
                                    <button
                                        class="flex shrink-0 items-center bg-[#06B6E9] text-left py-2 px-3 gap-2 rounded-[100000px] border-0"
                                        onclick="alert('Pressed!')" }>
                                        <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/rskvkvtf_expires_30_days.png"
                                            class="w-4 h-4 rounded-[100000px] object-fill" />
                                        <span class="text-white text-sm font-bold">
                                            Add Device Admin
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div
                                class="flex items-center self-stretch py-3.5 px-3 mx-8 rounded-xl border border-solid border-stone-200">
                                <button
                                    class="flex shrink-0 items-center bg-[#E7F7EA] text-left py-0.5 px-2.5 mr-3.5 gap-1.5 rounded-2xl border-0"
                                    onclick="alert('Pressed!')" }>
                                    <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/qdavl4cx_expires_30_days.png"
                                        class="w-2 h-2 rounded-2xl object-fill" />
                                    <span class="text-[#0BB02F] text-sm font-bold">
                                        Active
                                    </span>
                                </button>
                                <div class="flex shrink-0 items-start py-4 px-5 mr-3.5 gap-3">
                                    <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/g45wc3a2_expires_30_days.png"
                                        class="w-8 h-8 object-fill" />
                                    <div class="flex flex-col shrink-0 items-start">
                                        <span class="text-slate-900 text-sm font-bold">
                                            Adajero S. Tega
                                        </span>
                                        <span class="text-stone-500 text-sm">
                                            Supervisor
                                        </span>
                                    </div>
                                </div>
                                <div class="flex flex-col shrink-0 items-start mr-3.5 gap-[5px]">
                                    <span class="text-slate-900 text-xs font-bold mr-[30px]">
                                        Device ID
                                    </span>
                                    <span class="text-stone-600 text-sm">
                                        HB-HQ
                                    </span>
                                </div>
                                <div class="flex flex-col shrink-0 items-start mr-[117px] gap-1">
                                    <div class="flex items-center gap-1">
                                        <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/4ln5xzq9_expires_30_days.png"
                                            class="w-6 h-6 object-fill" />
                                        <span class="text-stone-600 text-sm w-[109px]">
                                            Heckerbella HQ
                                        </span>
                                    </div>
                                    <span class="text-stone-600 text-sm">
                                        Created by Admin
                                    </span>
                                </div>
                                <div class="flex shrink-0 items-start gap-2">
                                    <button
                                        class="flex flex-col shrink-0 items-start bg-white text-left py-2 px-6 rounded-[100000px] border border-solid border-stone-200"
                                        style="box-shadow: 0px 1px 2px #0A0C120D" onclick="alert('Pressed!')" }>
                                        <span class="text-slate-900 text-sm font-bold">
                                            Edit
                                        </span>
                                    </button>
                                    <button
                                        class="flex flex-col shrink-0 items-start bg-white text-left py-2 px-[11px] rounded-[100000px] border border-solid border-stone-200"
                                        style="box-shadow: 0px 1px 2px #0A0C120D" onclick="alert('Pressed!')" }>
                                        <span class="text-slate-900 text-sm font-bold">
                                            Deactivate
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div
                                class="flex items-center self-stretch py-3.5 px-3 mx-8 rounded-xl border border-solid border-stone-200">
                                <button
                                    class="flex flex-col shrink-0 items-start bg-[#FCE7EB] text-left py-0.5 px-3 mr-1.5 rounded-2xl border-0"
                                    onclick="alert('Pressed!')" }>
                                    <span class="text-[#B20E2A] text-sm font-bold">
                                        De-activated
                                    </span>
                                </button>
                                <div class="flex flex-1 items-start py-4 mr-[5px]">
                                    <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/1vvtgklb_expires_30_days.png"
                                        class="w-8 h-8 ml-[19px] mr-3 object-fill" />
                                    <div class="flex flex-col shrink-0 items-start mr-[118px]">
                                        <span class="text-slate-900 text-sm font-bold">
                                            Jamal Williams
                                        </span>
                                        <span class="text-stone-500 text-sm">
                                            Director
                                        </span>
                                    </div>
                                </div>
                                <div class="flex flex-col shrink-0 items-center mr-[164px] gap-[5px]">
                                    <span class="text-slate-900 text-xs font-bold">
                                        Device ID
                                    </span>
                                    <span class="text-stone-600 text-sm">
                                        HB-HQ
                                    </span>
                                </div>
                                <div class="flex flex-col shrink-0 items-start mr-[108px] gap-1">
                                    <div class="flex items-center gap-1">
                                        <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/bk99p04q_expires_30_days.png"
                                            class="w-6 h-6 object-fill" />
                                        <span class="text-stone-600 text-sm w-[109px]">
                                            Heckerbella HQ
                                        </span>
                                    </div>
                                    <span class="text-stone-600 text-sm">
                                        Created by Admin
                                    </span>
                                </div>
                                <div class="flex shrink-0 items-start gap-2">
                                    <button
                                        class="flex flex-col shrink-0 items-start bg-white text-left py-2 px-6 rounded-[100000px] border border-solid border-stone-200"
                                        style="box-shadow: 0px 1px 2px #0A0C120D" onclick="alert('Pressed!')" }>
                                        <span class="text-slate-900 text-sm font-bold">
                                            Edit
                                        </span>
                                    </button>
                                    <button
                                        class="flex flex-col shrink-0 items-start bg-white text-left py-2 px-[11px] rounded-[100000px] border border-solid border-stone-200"
                                        style="box-shadow: 0px 1px 2px #0A0C120D" onclick="alert('Pressed!')" }>
                                        <span class="text-slate-900 text-sm font-bold">
                                            Deactivate
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div
                                class="flex items-center self-stretch py-3.5 px-3 mx-8 rounded-xl border border-solid border-stone-200">
                                <button
                                    class="flex shrink-0 items-center bg-[#E7F7EA] text-left py-0.5 px-2.5 mr-3.5 gap-1.5 rounded-2xl border-0"
                                    onclick="alert('Pressed!')" }>
                                    <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/xwaltxkz_expires_30_days.png"
                                        class="w-2 h-2 rounded-2xl object-fill" />
                                    <span class="text-[#0BB02F] text-sm font-bold">
                                        Active
                                    </span>
                                </button>
                                <div class="flex shrink-0 items-start py-4 px-5 mr-3.5 gap-3">
                                    <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/czspthzr_expires_30_days.png"
                                        class="w-8 h-8 object-fill" />
                                    <div class="flex flex-col shrink-0 items-start">
                                        <span class="text-slate-900 text-sm font-bold">
                                            Darius Johnson
                                        </span>
                                        <span class="text-stone-500 text-sm">
                                            Manager
                                        </span>
                                    </div>
                                </div>
                                <div class="flex flex-col shrink-0 items-start mr-3.5 gap-[5px]">
                                    <span class="text-slate-900 text-xs font-bold mr-[30px]">
                                        Device ID
                                    </span>
                                    <span class="text-stone-600 text-sm">
                                        HB-HQ
                                    </span>
                                </div>
                                <div class="flex flex-col shrink-0 items-start mr-[117px] gap-1">
                                    <div class="flex items-center gap-1">
                                        <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/bmrje1sr_expires_30_days.png"
                                            class="w-6 h-6 object-fill" />
                                        <span class="text-stone-600 text-sm w-[109px]">
                                            Heckerbella HQ
                                        </span>
                                    </div>
                                    <span class="text-stone-600 text-sm">
                                        Created by Admin
                                    </span>
                                </div>
                                <div class="flex shrink-0 items-start gap-2">
                                    <button
                                        class="flex flex-col shrink-0 items-start bg-white text-left py-2 px-6 rounded-[100000px] border border-solid border-stone-200"
                                        style="box-shadow: 0px 1px 2px #0A0C120D" onclick="alert('Pressed!')" }>
                                        <span class="text-slate-900 text-sm font-bold">
                                            Edit
                                        </span>
                                    </button>
                                    <button
                                        class="flex flex-col shrink-0 items-start bg-white text-left py-2 px-[11px] rounded-[100000px] border border-solid border-stone-200"
                                        style="box-shadow: 0px 1px 2px #0A0C120D" onclick="alert('Pressed!')" }>
                                        <span class="text-slate-900 text-sm font-bold">
                                            Deactivate
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-stone-200 w-[1436px] h-[1px] absolute top-[91px] left-0">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>