<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyDepartment-List</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            font-family: system-ui;
        }
    </style>
</head>

<body>
    <div class="flex flex-col bg-white">
        <div class="self-stretch bg-neutral-100 h-[996px]">
            <div class="flex items-start self-stretch my-4 mx-2 gap-4">
                <div class="flex flex-col shrink-0 items-start relative">
                    <div
                        class="flex flex-col items-start bg-white pb-[13px] rounded-[20px] border border-solid border-stone-200">
                        <div class="flex items-center p-4 mb-7 gap-2.5">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/rfgdufqt_expires_30_days.png"
                                class="w-[204px] h-10 object-fill" />
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/6fpmlmlh_expires_30_days.png"
                                class="w-6 h-6 object-fill" />
                        </div>
                        <div class="flex items-center bg-white p-3 mb-7 mx-3 rounded-2xl border border-solid border-stone-200"
                            style="box-shadow: 0px 1px 2px #0A0C120D">
                            <div class="flex shrink-0 items-center gap-3">
                                <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/ziipe7w9_expires_30_days.png"
                                    class="w-10 h-10 object-fill" />
                                <div class="flex flex-col shrink-0 items-start">
                                    <span class="text-slate-900 text-sm font-bold my-1 ml-[1px] mr-[61px]">
                                        Maria Afolabi
                                    </span>
                                    <span class="text-stone-600 text-sm">
                                        Unit Head
                                    </span>
                                </div>
                            </div>
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/r54taedh_expires_30_days.png"
                                class="w-4 h-4 rounded-2xl object-fill" />
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/muyt63q5_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                Dashboard
                            </span>
                        </div>
                        <div class="flex items-center bg-[#E6F8FD] py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/wsuj03ha_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <input type="text" placeholder="My department"
                                class="text-[#0592BA] bg-transparent text-sm font-bold w-[114px] py-[1px] border-0" />
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/zxq54tvl_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                Employees
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/j0eb1c7v_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                Attendance
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/sdpsdsfk_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                Report
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/1gyn5vap_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                Administrators
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/gwxaywn6_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                Organization
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/u28uo9rk_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                Salary Management
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/lfdkyqk4_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                KPI Management
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/nhiwqrh0_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                Recruitment
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/e9i40ckv_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                File manager
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/odihsapl_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                Biometrics data
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/kif2mzl1_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                Settings
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/cjupepkj_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                SMS configuration
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-2.5 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/8fw7gcyd_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-600 text-sm font-bold">
                                Sign Out
                            </span>
                        </div>
                        <span class="text-stone-400 text-xs ml-7">
                            HeckerPeople App V1.0.0
                        </span>
                    </div>
                    <span class="text-stone-400 text-xs absolute bottom-[-9px] left-7">
                        © Heckerbella Ltd 2025
                    </span>
                </div>
                <div class="flex-1 items-start relative">
                    <div class="self-stretch bg-white pb-[234px] rounded-[20px] border border-solid border-stone-200">
                        <div class="flex flex-col items-start self-stretch pb-[1px] my-[34px] mx-5">
                            <span class="text-slate-900 text-2xl font-bold">
                                My Department
                            </span>
                        </div>
                        <div class="flex flex-col self-stretch pt-5 gap-6">
                            <div class="flex items-center self-stretch mx-5">
                                <span class="text-stone-600 text-sm mr-[329px]">
                                    Showing all employees in Design Department
                                </span>
                                <div class="flex flex-1 items-center">
                                    <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/64dsf7hj_expires_30_days.png"
                                        class="w-[76px] h-[42px] ml-5 mr-4 object-fill" />
                                    <button
                                        class="flex shrink-0 items-start bg-white text-left py-[9px] px-4 mr-4 rounded-[100000px] border border-solid border-stone-200"
                                        style="box-shadow: 0px 1px 2px #0A0C120D" onclick="alert('Pressed!')" }>
                                        <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/0vu1yf1q_expires_30_days.png"
                                            class="w-5 h-5 mr-2 rounded-[100000px] object-fill" />
                                        <span class="text-slate-900 text-sm font-bold mr-[11px]">
                                            Filters
                                        </span>
                                        <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/ste5ucnb_expires_30_days.png"
                                            class="w-5 h-5 rounded-[100000px] object-fill" />
                                    </button>
                                    <div class="flex flex-1 items-center bg-white py-2 px-3 gap-2 rounded-xl border border-solid border-stone-200"
                                        style="box-shadow: 0px 1px 2px #0A0C120D">
                                        <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/oxuodhkf_expires_30_days.png"
                                            class="w-[18px] h-[18px] object-fill" />
                                        <input type="text" placeholder="Search keyword"
                                            class="flex-1 self-stretch text-stone-400 bg-transparent text-sm border-0" />
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col items-start self-stretch mx-5 gap-4">
                                <div class="flex items-start self-stretch">
                                    <div class="flex-1 bg-white pt-1 pb-10 mr-4 rounded-2xl border border-solid border-stone-200"
                                        style="box-shadow: 0px 1px 2px #0A0C120D">
                                        <div class="flex justify-between items-center self-stretch mx-3">
                                            <button
                                                class="flex shrink-0 items-center bg-[#E7F7EA] text-left py-0.5 px-2.5 gap-1.5 rounded-2xl border-0"
                                                onclick="alert('Pressed!')" }>
                                                <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/xzz1f2xz_expires_30_days.png"
                                                    class="w-2 h-2 rounded-2xl object-fill" />
                                                <span class="text-[#0BB02F] text-sm font-bold">
                                                    Active
                                                </span>
                                            </button>
                                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/38vga9t8_expires_30_days.png"
                                                class="w-5 h-5 m-2 rounded-[100000px] object-fill" />
                                        </div>
                                        <div class="flex flex-col self-stretch mx-5 gap-3"
                                            style="box-shadow: 0px 1px 2px #0A0C120D">
                                            <div class="flex flex-col items-center self-stretch gap-3">
                                                <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/zjfjcz9t_expires_30_days.png"
                                                    class="w-14 h-14 object-fill" />
                                                <div class="flex flex-col items-center self-stretch gap-2">
                                                    <span class="text-stone-400 text-xs font-bold">
                                                        ID: KPIO683
                                                    </span>
                                                    <span class="text-slate-900 text-base font-bold">
                                                        Turi O.
                                                    </span>
                                                    <span class="text-stone-600 text-sm text-center">
                                                        Product Designer III
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="flex items-center self-stretch px-[52px] gap-1">
                                                <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/8bx6mbc6_expires_30_days.png"
                                                    class="w-[18px] h-[18px] object-fill" />
                                                <span class="text-stone-600 text-sm">
                                                    Heckerbella HQ
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-1 flex-col items-center bg-white pt-1 pb-10 px-3 mr-[17px] rounded-2xl border border-solid border-stone-200"
                                        style="box-shadow: 0px 1px 2px #0A0C120D">
                                        <div class="flex justify-between items-center self-stretch">
                                            <button
                                                class="flex shrink-0 items-center bg-[#E7F7EA] text-left py-0.5 px-2.5 gap-1.5 rounded-2xl border-0"
                                                onclick="alert('Pressed!')" }>
                                                <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/22rdhc87_expires_30_days.png"
                                                    class="w-2 h-2 rounded-2xl object-fill" />
                                                <span class="text-[#0BB02F] text-sm font-bold">
                                                    Inactive
                                                </span>
                                            </button>
                                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/ixcsorac_expires_30_days.png"
                                                class="w-5 h-5 m-2 rounded-[100000px] object-fill" />
                                        </div>
                                        <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/ruk65n5v_expires_30_days.png"
                                            class="w-14 h-14 mb-3 object-fill" />
                                        <span class="text-stone-400 text-xs font-bold mb-2">
                                            ID: KPIO684
                                        </span>
                                        <span class="text-slate-900 text-base font-bold mb-2">
                                            Janelle P.
                                        </span>
                                        <span class="text-stone-600 text-sm text-center mb-3 mx-2">
                                            UX Researcher
                                        </span>
                                        <div class="flex items-center self-stretch px-[54px] mx-2 gap-1">
                                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/46wcr0oe_expires_30_days.png"
                                                class="w-[18px] h-[18px] object-fill" />
                                            <span class="text-stone-600 text-sm">
                                                InnovateX Labs
                                            </span>
                                        </div>
                                    </div>
                                    <div class="flex-1 bg-white pt-1 pb-10 mr-4 rounded-2xl border border-solid border-stone-200"
                                        style="box-shadow: 0px 1px 2px #0A0C120D">
                                        <div class="flex justify-between items-center self-stretch mx-3">
                                            <button
                                                class="flex shrink-0 items-center bg-[#E7F7EA] text-left py-0.5 px-2.5 gap-1.5 rounded-2xl border-0"
                                                onclick="alert('Pressed!')" }>
                                                <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/t4vc0foa_expires_30_days.png"
                                                    class="w-2 h-2 rounded-2xl object-fill" />
                                                <span class="text-[#0BB02F] text-sm font-bold">
                                                    Active
                                                </span>
                                            </button>
                                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/ijzy2rv7_expires_30_days.png"
                                                class="w-5 h-5 m-2 rounded-[100000px] object-fill" />
                                        </div>
                                        <div class="flex flex-col self-stretch mx-5 gap-3"
                                            style="box-shadow: 0px 1px 2px #0A0C120D">
                                            <div class="flex flex-col items-center self-stretch gap-3">
                                                <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/pwlbj18p_expires_30_days.png"
                                                    class="w-14 h-14 object-fill" />
                                                <div class="flex flex-col items-center self-stretch gap-2">
                                                    <span class="text-stone-400 text-xs font-bold">
                                                        ID: KPIO685
                                                    </span>
                                                    <span class="text-slate-900 text-base font-bold">
                                                        Marco T.
                                                    </span>
                                                    <span class="text-stone-600 text-sm text-center">
                                                        UI Developer
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="flex items-center self-stretch px-[67px] gap-1">
                                                <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/qjktg0ua_expires_30_days.png"
                                                    class="w-[18px] h-[18px] object-fill" />
                                                <span class="text-stone-600 text-sm">
                                                    TechFusion
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-1 flex-col items-center bg-white pt-1 pb-10 px-3 rounded-2xl border border-solid border-stone-200"
                                        style="box-shadow: 0px 1px 2px #0A0C120D">
                                        <div class="flex justify-between items-center self-stretch">
                                            <button
                                                class="flex shrink-0 items-center bg-[#E7F7EA] text-left py-0.5 px-2.5 gap-1.5 rounded-2xl border-0"
                                                onclick="alert('Pressed!')" }>
                                                <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/xc1ynqec_expires_30_days.png"
                                                    class="w-2 h-2 rounded-2xl object-fill" />
                                                <span class="text-[#0BB02F] text-sm font-bold">
                                                    Active
                                                </span>
                                            </button>
                                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/j854ykbq_expires_30_days.png"
                                                class="w-5 h-5 m-2 rounded-[100000px] object-fill" />
                                        </div>
                                        <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/68f2ttxz_expires_30_days.png"
                                            class="w-14 h-14 mb-3 object-fill" />
                                        <span class="text-stone-400 text-xs font-bold mb-2">
                                            ID: KPIO686
                                        </span>
                                        <span class="text-slate-900 text-base font-bold mb-2">
                                            Shira L.
                                        </span>
                                        <span class="text-stone-600 text-sm text-center mb-3 mx-2">
                                            Product Manager
                                        </span>
                                        <div class="flex items-center self-stretch px-[55px] mx-2 gap-1">
                                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/wg21jrz1_expires_30_days.png"
                                                class="w-[18px] h-[18px] object-fill" />
                                            <span class="text-stone-600 text-sm">
                                                Visionary Corp
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex items-start">
                                    <div class="flex flex-col shrink-0 items-center bg-white pt-1 pb-10 px-3 mr-4 rounded-2xl border border-solid border-stone-200"
                                        style="box-shadow: 0px 1px 2px #0A0C120D">
                                        <div class="flex items-center">
                                            <button
                                                class="flex shrink-0 items-center bg-[#E7F7EA] text-left py-0.5 px-2.5 gap-1.5 rounded-2xl border-0"
                                                onclick="alert('Pressed!')" }>
                                                <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/aug77w8f_expires_30_days.png"
                                                    class="w-2 h-2 rounded-2xl object-fill" />
                                                <span class="text-[#0BB02F] text-sm font-bold">
                                                    Inactive
                                                </span>
                                            </button>
                                            <div class="self-stretch w-[89px]">
                                            </div>
                                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/013en52t_expires_30_days.png"
                                                class="w-5 h-5 m-2 rounded-[100000px] object-fill" />
                                        </div>
                                        <div class="flex flex-col items-center gap-3"
                                            style="box-shadow: 0px 1px 2px #0A0C120D">
                                            <div class="flex flex-col items-center gap-3">
                                                <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/n65hwao9_expires_30_days.png"
                                                    class="w-14 h-14 object-fill" />
                                                <div class="flex flex-col items-center gap-2">
                                                    <span class="text-stone-400 text-xs font-bold">
                                                        ID: KPIO687
                                                    </span>
                                                    <span class="text-slate-900 text-base font-bold">
                                                        Leo M.
                                                    </span>
                                                    <span class="text-stone-600 text-sm">
                                                        Data Analyst
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="flex items-center pl-[47px] pr-[49px] gap-1">
                                                <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/ovzqz4is_expires_30_days.png"
                                                    class="w-[18px] h-[18px] object-fill" />
                                                <span class="text-stone-600 text-sm">
                                                    Insight Solutions
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-col shrink-0 items-center bg-white pt-1 pb-10 px-3 mr-[17px] rounded-2xl border border-solid border-stone-200"
                                        style="box-shadow: 0px 1px 2px #0A0C120D">
                                        <div class="flex items-center">
                                            <button
                                                class="flex shrink-0 items-center bg-[#E7F7EA] text-left py-0.5 px-2.5 gap-1.5 rounded-2xl border-0"
                                                onclick="alert('Pressed!')" }>
                                                <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/hziq6lk9_expires_30_days.png"
                                                    class="w-2 h-2 rounded-2xl object-fill" />
                                                <span class="text-[#0BB02F] text-sm font-bold">
                                                    Active
                                                </span>
                                            </button>
                                            <div class="self-stretch w-[79px]">
                                            </div>
                                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/gsk60w5l_expires_30_days.png"
                                                class="w-5 h-5 m-2 rounded-[100000px] object-fill" />
                                        </div>
                                        <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/42kfpj9o_expires_30_days.png"
                                            class="w-14 h-14 mb-3 object-fill" />
                                        <span class="text-stone-400 text-xs font-bold mb-2">
                                            ID: KPIO688
                                        </span>
                                        <span class="text-slate-900 text-base font-bold mb-2">
                                            Nina R.
                                        </span>
                                        <span class="text-stone-600 text-sm mb-3">
                                            Content Strategist
                                        </span>
                                        <div class="flex items-center pl-[55px] pr-[57px] gap-1">
                                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/3iq6fz2d_expires_30_days.png"
                                                class="w-[18px] h-[18px] object-fill" />
                                            <span class="text-stone-600 text-sm">
                                                Creative Minds
                                            </span>
                                        </div>
                                    </div>
                                    <div class="flex flex-col shrink-0 items-center bg-white pt-1 pb-10 px-3 rounded-2xl border border-solid border-stone-200"
                                        style="box-shadow: 0px 1px 2px #0A0C120D">
                                        <div class="flex items-center">
                                            <button
                                                class="flex shrink-0 items-center bg-[#E7F7EA] text-left py-0.5 px-2.5 gap-1.5 rounded-2xl border-0"
                                                onclick="alert('Pressed!')" }>
                                                <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/737mg812_expires_30_days.png"
                                                    class="w-2 h-2 rounded-2xl object-fill" />
                                                <span class="text-[#0BB02F] text-sm font-bold">
                                                    Inactive
                                                </span>
                                            </button>
                                            <div class="self-stretch w-[89px]">
                                            </div>
                                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/2v827sk0_expires_30_days.png"
                                                class="w-5 h-5 m-2 rounded-[100000px] object-fill" />
                                        </div>
                                        <div class="flex flex-col items-center gap-3"
                                            style="box-shadow: 0px 1px 2px #0A0C120D">
                                            <div class="flex flex-col items-center gap-3">
                                                <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/kusuapov_expires_30_days.png"
                                                    class="w-14 h-14 object-fill" />
                                                <div class="flex flex-col items-center gap-2">
                                                    <span class="text-stone-400 text-xs font-bold">
                                                        ID: KPIO689
                                                    </span>
                                                    <span class="text-slate-900 text-base font-bold">
                                                        Omar D.
                                                    </span>
                                                    <span class="text-stone-600 text-sm">
                                                        Marketing Specialist
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="flex items-center pl-[61px] pr-[63px] gap-1">
                                                <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/69eio1mq_expires_30_days.png"
                                                    class="w-[18px] h-[18px] object-fill" />
                                                <span class="text-stone-600 text-sm">
                                                    Future Vision
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-stone-200 w-[1436px] h-[1px] absolute top-[95px] left-0">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>