<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyDepartment-List</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            font-family: system-ui;
        }
    </style>
</head>

<body>
    <div class="flex flex-col bg-white">
        <div class="self-stretch bg-neutral-100 h-[994px]">
            <div class="flex items-start self-stretch my-4 mx-2 gap-4">
                <div class="flex flex-col shrink-0 items-start relative">
                    <div
                        class="flex flex-col items-start bg-white pb-[13px] rounded-[20px] border border-solid border-stone-200">
                        <div class="flex items-center p-4 mb-7 gap-2.5">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/bhew197v_expires_30_days.png"
                                class="w-[204px] h-10 object-fill" />
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/iec7a2vq_expires_30_days.png"
                                class="w-6 h-6 object-fill" />
                        </div>
                        <div class="flex items-center bg-white p-3 mb-7 mx-3 rounded-2xl border border-solid border-stone-200"
                            style="box-shadow: 0px 1px 2px #0A0C120D">
                            <div class="flex shrink-0 items-center gap-3">
                                <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/tsutktbf_expires_30_days.png"
                                    class="w-10 h-10 object-fill" />
                                <div class="flex flex-col shrink-0 items-start">
                                    <span class="text-slate-900 text-sm font-bold my-1 ml-[1px] mr-[61px]">
                                        Maria Afolabi
                                    </span>
                                    <span class="text-stone-600 text-sm">
                                        Unit Head
                                    </span>
                                </div>
                            </div>
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/5e3nilen_expires_30_days.png"
                                class="w-4 h-4 rounded-2xl object-fill" />
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/1fdahow5_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                Dashboard
                            </span>
                        </div>
                        <div class="flex items-center bg-[#E6F8FD] py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/f0cgelp8_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <input type="text" placeholder="My department"
                                class="text-[#0592BA] bg-transparent text-sm font-bold w-[104px] py-[1px] border-0" />
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/zcldej9b_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                Employees
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/aa9ctru4_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                Attendance
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/f7yg9ma0_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                Report
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/73s2jeej_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                Administrators
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/pzm0j9vp_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                Organization
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/4trrnq2b_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                Salary Management
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/tfrorek3_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                KPI Management
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/agbd4xm0_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                Recruitment
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/k7cxoxtq_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                File manager
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/2h6yvf3g_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                Biometrics data
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/kfqjuac6_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                Settings
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/kbh8d2el_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                SMS configuration
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-2.5 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/57z6zq4d_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-600 text-sm font-bold">
                                Sign Out
                            </span>
                        </div>
                        <span class="text-stone-400 text-xs ml-7">
                            HeckerPeople App V1.0.0
                        </span>
                    </div>
                    <span class="text-stone-400 text-xs absolute bottom-[-9px] left-7">
                        © Heckerbella Ltd 2025
                    </span>
                </div>
                <div class="flex-1 items-start relative">
                    <div class="self-stretch bg-white pb-72 rounded-[20px] border border-solid border-stone-200">
                        <div class="flex flex-col items-start self-stretch pb-[1px] my-[34px] mx-5">
                            <span class="text-slate-900 text-2xl font-bold">
                                My Department
                            </span>
                        </div>
                        <div class="flex flex-col self-stretch pt-5 gap-6">
                            <div class="flex items-center self-stretch mx-5">
                                <span class="text-stone-600 text-sm mr-[329px]">
                                    Showing all employees in Design Department
                                </span>
                                <div class="flex flex-1 items-center">
                                    <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/qwuolvv5_expires_30_days.png"
                                        class="w-[76px] h-[42px] ml-5 mr-4 object-fill" />
                                    <button
                                        class="flex shrink-0 items-start bg-white text-left py-[9px] px-4 mr-4 rounded-[100000px] border border-solid border-stone-200"
                                        style="box-shadow: 0px 1px 2px #0A0C120D" onclick="alert('Pressed!')" }>
                                        <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/32c29wcf_expires_30_days.png"
                                            class="w-5 h-5 mr-2 rounded-[100000px] object-fill" />
                                        <span class="text-slate-900 text-sm font-bold mr-[11px]">
                                            Filters
                                        </span>
                                        <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/634nleqf_expires_30_days.png"
                                            class="w-5 h-5 rounded-[100000px] object-fill" />
                                    </button>
                                    <div class="flex flex-1 items-center bg-white py-2 px-3 gap-2 rounded-xl border border-solid border-stone-200"
                                        style="box-shadow: 0px 1px 2px #0A0C120D">
                                        <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/htjyq4pn_expires_30_days.png"
                                            class="w-[18px] h-[18px] object-fill" />
                                        <input type="text" placeholder="Search keyword"
                                            class="flex-1 self-stretch text-stone-400 bg-transparent text-sm border-0" />
                                    </div>
                                </div>
                            </div>
                            <div class="self-stretch bg-white mx-5 rounded-xl border border-solid border-[#1212121A]"
                                style="box-shadow: 0px 1px 2px #0A0C120D">
                                <div class="flex items-start self-stretch">
                                    <div class="flex flex-col shrink-0 items-center">
                                        <div class="flex flex-col items-start bg-[#E6F8FD] pt-3.5 pb-[15px] px-5">
                                            <span class="text-slate-900 text-sm font-bold">
                                                S/N
                                            </span>
                                        </div>
                                        <span class="text-slate-900 text-sm my-[25px] mx-5">
                                            1
                                        </span>
                                        <span class="text-slate-900 text-sm my-[25px] mx-5">
                                            1
                                        </span>
                                        <span class="text-slate-900 text-sm my-[25px] mx-5">
                                            1
                                        </span>
                                        <span class="text-slate-900 text-sm my-[25px] mx-5">
                                            1
                                        </span>
                                        <span class="text-slate-900 text-sm my-[25px] mx-5">
                                            1
                                        </span>
                                    </div>
                                    <div class="flex flex-col shrink-0 items-center">
                                        <div class="flex flex-col items-start bg-[#E6F8FD] pt-3.5 pb-[15px] px-5">
                                            <span class="text-slate-900 text-sm font-bold">
                                                Unique ID
                                            </span>
                                        </div>
                                        <span class="text-slate-900 text-sm my-[25px] mx-5">
                                            HL012
                                        </span>
                                        <span class="text-slate-900 text-sm my-[25px] mx-5">
                                            HL012
                                        </span>
                                        <span class="text-slate-900 text-sm my-[25px] mx-5">
                                            HL012
                                        </span>
                                        <span class="text-slate-900 text-sm my-[25px] mx-5">
                                            HL012
                                        </span>
                                        <span class="text-slate-900 text-sm my-[25px] mx-5">
                                            HL012
                                        </span>
                                    </div>
                                    <div class="flex-1">
                                        <div
                                            class="flex flex-col items-start self-stretch bg-[#E6F8FD] pt-3.5 pb-[15px] px-5">
                                            <span class="text-slate-900 text-sm font-bold">
                                                Full Name
                                            </span>
                                        </div>
                                        <div class="flex items-center self-stretch p-5 gap-3">
                                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/tzuupc6s_expires_30_days.png"
                                                class="w-8 h-8 object-fill" />
                                            <span class="text-slate-900 text-sm font-bold mb-[1px]">
                                                Turi O.
                                            </span>
                                        </div>
                                        <div class="flex items-center self-stretch p-5 gap-3">
                                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/ztis93mg_expires_30_days.png"
                                                class="w-8 h-8 object-fill" />
                                            <span class="text-slate-900 text-sm font-bold mb-[1px]">
                                                Turi O.
                                            </span>
                                        </div>
                                        <div class="flex items-center self-stretch p-5 gap-3">
                                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/v2b24p0g_expires_30_days.png"
                                                class="w-8 h-8 object-fill" />
                                            <span class="text-slate-900 text-sm font-bold mb-[1px]">
                                                Turi O.
                                            </span>
                                        </div>
                                        <div class="flex items-center self-stretch p-5 gap-3">
                                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/rax9wkrd_expires_30_days.png"
                                                class="w-8 h-8 object-fill" />
                                            <span class="text-slate-900 text-sm font-bold mb-[1px]">
                                                Turi O.
                                            </span>
                                        </div>
                                        <div class="flex items-center self-stretch p-5 gap-3">
                                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/mrgl8anp_expires_30_days.png"
                                                class="w-8 h-8 object-fill" />
                                            <span class="text-slate-900 text-sm font-bold mb-[1px]">
                                                Turi O.
                                            </span>
                                        </div>
                                    </div>
                                    <div class="flex flex-col shrink-0 items-start">
                                        <div
                                            class="flex flex-col items-start bg-[#E6F8FD] pt-3.5 pb-[15px] pl-5 pr-[81px]">
                                            <span class="text-slate-900 text-sm font-bold">
                                                Location
                                            </span>
                                        </div>
                                        <span class="text-slate-900 text-sm my-[25px] ml-5 mr-8">
                                            Heckerbella HQ
                                        </span>
                                        <span class="text-slate-900 text-sm my-[25px] ml-5 mr-8">
                                            Heckerbella HQ
                                        </span>
                                        <span class="text-slate-900 text-sm my-[25px] ml-5 mr-8">
                                            Heckerbella HQ
                                        </span>
                                        <span class="text-slate-900 text-sm my-[25px] ml-5 mr-8">
                                            Heckerbella HQ
                                        </span>
                                        <span class="text-slate-900 text-sm my-[25px] ml-5 mr-8">
                                            Heckerbella HQ
                                        </span>
                                    </div>
                                    <div class="flex flex-col shrink-0 items-start mr-[1px]">
                                        <div
                                            class="flex flex-col items-start bg-[#E6F8FD] pt-3.5 pb-[15px] pl-5 pr-[57px]">
                                            <span class="text-slate-900 text-sm font-bold">
                                                Department
                                            </span>
                                        </div>
                                        <button
                                            class="flex flex-col items-start bg-neutral-100 text-left py-0.5 px-3 my-6 ml-5 mr-11 rounded-2xl border-0"
                                            onclick="alert('Pressed!')" }>
                                            <span class="text-slate-900 text-sm font-bold">
                                                Operations
                                            </span>
                                        </button>
                                        <button
                                            class="flex flex-col items-start bg-neutral-100 text-left py-0.5 px-3 my-6 ml-5 mr-11 rounded-2xl border-0"
                                            onclick="alert('Pressed!')" }>
                                            <span class="text-slate-900 text-sm font-bold">
                                                Operations
                                            </span>
                                        </button>
                                        <button
                                            class="flex flex-col items-start bg-neutral-100 text-left py-0.5 px-3 my-6 ml-5 mr-11 rounded-2xl border-0"
                                            onclick="alert('Pressed!')" }>
                                            <span class="text-slate-900 text-sm font-bold">
                                                Operations
                                            </span>
                                        </button>
                                        <button
                                            class="flex flex-col items-start bg-neutral-100 text-left py-0.5 px-3 my-6 ml-5 mr-11 rounded-2xl border-0"
                                            onclick="alert('Pressed!')" }>
                                            <span class="text-slate-900 text-sm font-bold">
                                                Operations
                                            </span>
                                        </button>
                                        <button
                                            class="flex flex-col items-start bg-neutral-100 text-left py-0.5 px-3 my-6 ml-5 mr-11 rounded-2xl border-0"
                                            onclick="alert('Pressed!')" }>
                                            <span class="text-slate-900 text-sm font-bold">
                                                Operations
                                            </span>
                                        </button>
                                    </div>
                                    <div class="flex flex-col shrink-0 items-start">
                                        <div
                                            class="flex flex-col items-start bg-[#E6F8FD] pt-3.5 pb-[15px] pl-5 pr-[97px]">
                                            <span class="text-slate-900 text-sm font-bold">
                                                Status
                                            </span>
                                        </div>
                                        <button
                                            class="flex items-center bg-[#E7F7EA] text-left py-0.5 px-2.5 my-6 ml-5 mr-[63px] gap-1.5 rounded-2xl border-0"
                                            onclick="alert('Pressed!')" }>
                                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/3gc2eza6_expires_30_days.png"
                                                class="w-2 h-2 rounded-2xl object-fill" />
                                            <span class="text-[#0BB02F] text-sm font-bold">
                                                Active
                                            </span>
                                        </button>
                                        <button
                                            class="flex items-center bg-[#E7F7EA] text-left py-0.5 px-2.5 my-6 ml-5 mr-[63px] gap-1.5 rounded-2xl border-0"
                                            onclick="alert('Pressed!')" }>
                                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/vod87oim_expires_30_days.png"
                                                class="w-2 h-2 rounded-2xl object-fill" />
                                            <span class="text-[#0BB02F] text-sm font-bold">
                                                Active
                                            </span>
                                        </button>
                                        <button
                                            class="flex items-center bg-[#E7F7EA] text-left py-0.5 px-2.5 my-6 ml-5 mr-[63px] gap-1.5 rounded-2xl border-0"
                                            onclick="alert('Pressed!')" }>
                                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/8v2pdly7_expires_30_days.png"
                                                class="w-2 h-2 rounded-2xl object-fill" />
                                            <span class="text-[#0BB02F] text-sm font-bold">
                                                Active
                                            </span>
                                        </button>
                                        <button
                                            class="flex items-center bg-[#E7F7EA] text-left py-0.5 px-2.5 my-6 ml-5 mr-[63px] gap-1.5 rounded-2xl border-0"
                                            onclick="alert('Pressed!')" }>
                                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/q103tsjp_expires_30_days.png"
                                                class="w-2 h-2 rounded-2xl object-fill" />
                                            <span class="text-[#0BB02F] text-sm font-bold">
                                                Active
                                            </span>
                                        </button>
                                        <button
                                            class="flex items-center bg-[#E7F7EA] text-left py-0.5 px-2.5 my-6 ml-5 mr-[63px] gap-1.5 rounded-2xl border-0"
                                            onclick="alert('Pressed!')" }>
                                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/sqz7629o_expires_30_days.png"
                                                class="w-2 h-2 rounded-2xl object-fill" />
                                            <span class="text-[#0BB02F] text-sm font-bold">
                                                Active
                                            </span>
                                        </button>
                                    </div>
                                    <div class="flex flex-col shrink-0 items-start mr-[1px]">
                                        <div
                                            class="flex flex-col items-start bg-[#E6F8FD] pt-3.5 pb-[15px] pl-5 pr-[39px]">
                                            <span class="text-slate-900 text-sm font-bold">
                                                Phone number
                                            </span>
                                        </div>
                                        <span class="text-slate-900 text-sm my-[25px] ml-5 mr-[38px]">
                                            9000 123 4567
                                        </span>
                                        <span class="text-slate-900 text-sm my-[25px] ml-5 mr-[38px]">
                                            9000 123 4567
                                        </span>
                                        <span class="text-slate-900 text-sm my-[25px] ml-5 mr-[38px]">
                                            9000 123 4567
                                        </span>
                                        <span class="text-slate-900 text-sm my-[25px] ml-5 mr-[38px]">
                                            9000 123 4567
                                        </span>
                                        <span class="text-slate-900 text-sm my-[25px] ml-5 mr-[38px]">
                                            9000 123 4567
                                        </span>
                                    </div>
                                    <div class="flex flex-col shrink-0 items-center">
                                        <div class="flex flex-col items-start bg-[#E6F8FD] pt-3.5 pb-[15px] px-5">
                                            <span class="text-slate-900 text-sm font-bold">
                                                Actions
                                            </span>
                                        </div>
                                        <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/klh554ki_expires_30_days.png"
                                            class="w-5 h-5 my-[26px] mx-10 rounded-[100000px] object-fill" />
                                        <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/auu2uozo_expires_30_days.png"
                                            class="w-5 h-5 my-[26px] mx-10 rounded-[100000px] object-fill" />
                                        <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/5iibcpiw_expires_30_days.png"
                                            class="w-5 h-5 my-[26px] mx-10 rounded-[100000px] object-fill" />
                                        <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/7xpeh2v4_expires_30_days.png"
                                            class="w-5 h-5 my-[26px] mx-10 rounded-[100000px] object-fill" />
                                        <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/cierhhsi_expires_30_days.png"
                                            class="w-5 h-5 my-[26px] mx-10 rounded-[100000px] object-fill" />
                                    </div>
                                </div>
                                <div class="flex flex-col items-center self-stretch py-4">
                                    <div class="flex items-center gap-2">
                                        <div class="flex shrink-0 items-center py-2 px-3 gap-2 rounded-lg">
                                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/lw91dmmv_expires_30_days.png"
                                                class="w-4 h-4 rounded-lg object-fill" />
                                            <span class="text-stone-400 text-base">
                                                Previous
                                            </span>
                                        </div>
                                        <input type="text" placeholder="1"
                                            class="shrink-0 text-white bg-[#06B6E9] text-base font-bold p-2 rounded-lg border border-solid border-[#1212121A]" />
                                        <div class="flex shrink-0 items-center py-2 px-3 gap-3 rounded-lg">
                                            <span class="text-stone-400 text-base">
                                                Next
                                            </span>
                                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/siv4fmw6_expires_30_days.png"
                                                class="w-4 h-4 rounded-lg object-fill" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-stone-200 w-[1436px] h-[1px] absolute top-[95px] left-0">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>