<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Dashboard</title>
	<script src="https://cdn.tailwindcss.com"></script>
	<style>
		body {
			font-family: system-ui;
		}
	</style>
</head>
<body>
		<div class="flex flex-col bg-white">
		<div class="flex flex-col items-start self-stretch bg-neutral-100 h-[1381px]">
			<div class="flex items-center">
				<div class="flex flex-col shrink-0 items-start bg-white mt-4 mb-[412px] ml-2 mr-6 gap-7 rounded-[20px] border border-solid border-stone-200">
					<div class="flex items-center p-4 gap-2.5">
						<img
							src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/pqynqd2j_expires_30_days.png" 
							class="w-[204px] h-10 object-fill"
						/>
						<img
							src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/0u8840l6_expires_30_days.png" 
							class="w-6 h-6 object-fill"
						/>
					</div>
					<div class="flex items-center bg-white p-3 mx-3 rounded-2xl border border-solid border-stone-200" style="box-shadow: 0px 1px 2px #0A0C120D">
						<div class="flex shrink-0 items-center gap-3">
							<img
								src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/sdmyanr7_expires_30_days.png" 
								class="w-10 h-10 object-fill"
							/>
							<div class="flex flex-col shrink-0 items-start">
								<span class="text-slate-900 text-sm font-bold my-1 ml-[1px] mr-[61px]" >
									Maria Afolabi
								</span>
								<span class="text-stone-600 text-sm" >
									Unit Head
								</span>
							</div>
						</div>
						<img
							src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/418yej81_expires_30_days.png" 
							class="w-4 h-4 rounded-2xl object-fill"
						/>
					</div>
					<div class="flex flex-col items-start pb-[423px] gap-1">
						<div class="flex items-center bg-[#E6F8FD] py-3 px-4 mx-3 gap-2.5 rounded-xl">
							<img
								src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/l8l0o8xd_expires_30_days.png" 
								class="w-5 h-5 rounded-xl object-fill"
							/>
							<input
								type="text"
								placeholder="Dashboard"
								class="text-[#0592BA] bg-transparent text-sm font-bold w-[73px] py-[1px] border-0"
							/>
						</div>
						<div class="flex items-center py-3 px-4 mx-3 gap-2.5 rounded-xl">
							<img
								src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/puoll9gn_expires_30_days.png" 
								class="w-5 h-5 rounded-xl object-fill"
							/>
							<span class="text-stone-500 text-sm font-bold" >
								Attendance
							</span>
						</div>
						<div class="flex items-center py-3 px-4 mx-3 gap-2.5 rounded-xl">
							<img
								src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/kqkyvovj_expires_30_days.png" 
								class="w-5 h-5 rounded-xl object-fill"
							/>
							<span class="text-stone-500 text-sm font-bold" >
								Salary Management
							</span>
						</div>
						<div class="flex items-center py-3 px-4 mx-3 gap-2.5 rounded-xl">
							<img
								src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/uiqkfexk_expires_30_days.png" 
								class="w-5 h-5 rounded-xl object-fill"
							/>
							<span class="text-stone-500 text-sm font-bold" >
								KPI Management
							</span>
						</div>
					</div>
					<div class="flex flex-col items-start py-3 gap-2.5 rounded-xl">
						<div class="flex items-center py-3 px-4 mx-3 gap-2.5 rounded-xl">
							<img
								src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/b1iuzd4h_expires_30_days.png" 
								class="w-5 h-5 rounded-xl object-fill"
							/>
							<span class="text-stone-600 text-sm font-bold" >
								Sign Out
							</span>
						</div>
						<div class="flex flex-col items-start mx-3 gap-1">
							<span class="text-stone-400 text-xs ml-4" >
								HeckerPeople App V1.0.0
							</span>
							<span class="text-stone-400 text-xs ml-4" >
								© Heckerbella Ltd 2025
							</span>
						</div>
					</div>
				</div>
				<div class="flex flex-col shrink-0 items-start relative">
					<div class="flex flex-col items-start bg-white pb-16 rounded-[20px]">
						<div class="flex flex-col items-start pb-[1px] pr-[1028px] my-9 mx-5">
							<span class="text-slate-900 text-2xl font-bold" >
								Dashboard
							</span>
						</div>
						<div class="flex flex-col items-start bg-[url('https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/iea5x061_expires_30_days.png')] bg-cover bg-center py-3 px-2.5 mb-6">
							<button class="flex items-center bg-[#26262680] text-left py-2 px-4 mx-[336px] rounded-[100000px] border border-solid border-[#1212121A]"
								onclick="alert('Pressed!')"}>
								<span class="text-white text-sm font-bold mr-3" >
									You are almost all set, complete your profile now!
								</span>
								<img
									src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/qerjehgq_expires_30_days.png" 
									class="w-[5px] h-[5px] mr-2.5 rounded-[100000px] object-fill"
								/>
								<span class="text-white text-sm font-bold" >
									87% Complete
								</span>
							</button>
						</div>
						<div class="flex items-center mb-8 mx-6 gap-0.5">
							<div class="flex flex-col shrink-0 items-start gap-0.5">
								<span class="text-slate-900 text-xl font-bold" >
									KPI Management
								</span>
								<span class="text-stone-600 text-sm" >
									You have 4 KPIs to deliver this month.
								</span>
							</div>
							<div class="flex shrink-0 items-start py-[1px] px-0.5 gap-[7px]">
								<span class="text-stone-600 text-sm font-bold" >
									Show all (12)
								</span>
								<img
									src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/qg4l6zdb_expires_30_days.png" 
									class="w-5 h-5 object-fill"
								/>
							</div>
						</div>
						<div class="flex items-start mb-10 ml-6 gap-4">
							<div class="flex flex-col shrink-0 items-start bg-white py-4 rounded-2xl border border-solid border-[#F5F5F4B0]" style="box-shadow: 0px 1px 2px #0A0C120D">
								<div class="flex items-start mb-3 mx-5 gap-6">
									<img
										src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/n5gubymi_expires_30_days.png" 
										class="w-[52px] h-[52px] object-fill"
									/>
									<div class="flex shrink-0 items-center py-0.5 pl-14 mt-3 gap-[5px]">
										<span class="text-stone-600 text-base font-bold" >
											View details
										</span>
										<img
											src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/9jzcwj98_expires_30_days.png" 
											class="w-6 h-6 object-fill"
										/>
									</div>
								</div>
								<span class="text-slate-900 text-base font-bold w-[244px] mt-1 mb-4 ml-[21px] mr-[35px]" >
									User Research & Discovery For HeckerPeople
								</span>
								<div class="flex flex-col items-start mb-3 mx-5">
									<div class="flex items-center pr-1.5 mb-2 gap-1">
										<img
											src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/zebfj9mu_expires_30_days.png" 
											class="w-[18px] h-[18px] object-fill"
										/>
										<span class="text-stone-600 text-sm" >
											Complete HeckerPeople HI-FI designs
										</span>
									</div>
									<div class="flex items-center pr-1.5 mb-2 gap-1">
										<img
											src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/vf7pai48_expires_30_days.png" 
											class="w-[18px] h-[18px] object-fill"
										/>
										<span class="text-stone-600 text-sm" >
											Complete HeckerPeople HI-FI designs
										</span>
									</div>
									<span class="text-stone-400 text-sm mb-[1px] mr-[194px]" >
										+ 3 others
									</span>
								</div>
								<div class="flex items-center pr-[105px] mx-5">
									<span class="text-stone-600 text-sm font-bold mr-1.5" >
										Achievement
									</span>
									<span class="text-stone-600 text-sm font-bold mr-[7px]" >
										-
									</span>
									<button class="flex flex-col shrink-0 items-start bg-neutral-100 text-left py-1 px-3 rounded-2xl border-0"
										onclick="alert('Pressed!')"}>
										<span class="text-slate-900 text-sm font-bold" >
											0%
										</span>
									</button>
								</div>
							</div>
							<div class="flex flex-col shrink-0 items-start bg-white py-4 rounded-2xl border border-solid border-[#F5F5F4B0]" style="box-shadow: 0px 1px 2px #0A0C120D">
								<div class="flex items-start mb-3 mx-5 gap-6">
									<img
										src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/nus6zf79_expires_30_days.png" 
										class="w-[52px] h-[52px] object-fill"
									/>
									<div class="flex shrink-0 items-center py-0.5 pl-14 mt-3 gap-[5px]">
										<span class="text-stone-600 text-base font-bold" >
											View details
										</span>
										<img
											src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/hbwn8fe1_expires_30_days.png" 
											class="w-6 h-6 object-fill"
										/>
									</div>
								</div>
								<span class="text-slate-900 text-base font-bold w-[225px] mt-1 mb-4 ml-5 mr-[55px]" >
									Wireframing & Prototyping- Heckerpeople System
								</span>
								<div class="flex flex-col items-start mb-3 mx-5">
									<div class="flex items-center pr-1.5 mb-2 gap-1">
										<img
											src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/13bbcvgc_expires_30_days.png" 
											class="w-[18px] h-[18px] object-fill"
										/>
										<span class="text-stone-600 text-sm" >
											Complete HeckerPeople HI-FI designs
										</span>
									</div>
									<div class="flex items-center pr-1.5 mb-2 gap-1">
										<img
											src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/wdsa6b36_expires_30_days.png" 
											class="w-[18px] h-[18px] object-fill"
										/>
										<span class="text-stone-600 text-sm" >
											Complete HeckerPeople HI-FI designs
										</span>
									</div>
									<span class="text-stone-400 text-sm mb-[1px] mr-[194px]" >
										+ 3 others
									</span>
								</div>
								<div class="flex items-center pr-[105px] mx-5">
									<span class="text-stone-600 text-sm font-bold mr-1.5" >
										Achievement
									</span>
									<span class="text-stone-600 text-sm font-bold mr-[7px]" >
										-
									</span>
									<button class="flex flex-col shrink-0 items-start bg-neutral-100 text-left py-1 px-3 rounded-2xl border-0"
										onclick="alert('Pressed!')"}>
										<span class="text-slate-900 text-sm font-bold" >
											0%
										</span>
									</button>
								</div>
							</div>
							<div class="flex flex-col shrink-0 items-start bg-white py-4 rounded-2xl border border-solid border-[#F5F5F4B0]" style="box-shadow: 0px 1px 2px #0A0C120D">
								<div class="flex items-start mb-3 mx-5 gap-6">
									<img
										src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/wqfsplgn_expires_30_days.png" 
										class="w-[52px] h-[52px] object-fill"
									/>
									<div class="flex shrink-0 items-center py-0.5 pl-14 mt-3 gap-[5px]">
										<span class="text-stone-600 text-base font-bold" >
											View details
										</span>
										<img
											src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/k1nay9qj_expires_30_days.png" 
											class="w-6 h-6 object-fill"
										/>
									</div>
								</div>
								<span class="text-slate-900 text-base font-bold w-[241px] mt-[3px] mb-[15px] ml-5 mr-[39px]" >
									Complete HeckerPeople HI-FI designs
								</span>
								<div class="flex flex-col items-start mb-3 mx-5">
									<div class="flex items-center pr-1.5 mb-2 gap-1">
										<img
											src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/ue82o6rs_expires_30_days.png" 
											class="w-[18px] h-[18px] object-fill"
										/>
										<span class="text-stone-600 text-sm" >
											Complete HeckerPeople HI-FI designs
										</span>
									</div>
									<div class="flex items-center pr-1.5 mb-2 gap-1">
										<img
											src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/923bqnmh_expires_30_days.png" 
											class="w-[18px] h-[18px] object-fill"
										/>
										<span class="text-stone-600 text-sm" >
											Complete HeckerPeople HI-FI designs
										</span>
									</div>
									<span class="text-stone-400 text-sm mb-[1px] mr-[194px]" >
										+ 3 others
									</span>
								</div>
								<div class="flex items-center pr-[105px] mx-5">
									<span class="text-stone-600 text-sm font-bold mr-1.5" >
										Achievement
									</span>
									<span class="text-stone-600 text-sm font-bold mr-[7px]" >
										-
									</span>
									<button class="flex flex-col shrink-0 items-start bg-neutral-100 text-left py-1 px-3 rounded-2xl border-0"
										onclick="alert('Pressed!')"}>
										<span class="text-slate-900 text-sm font-bold" >
											0%
										</span>
									</button>
								</div>
							</div>
						</div>
						<div class="flex items-start mb-10 mx-6">
							<div class="flex flex-col shrink-0 items-start py-10 mr-[31px] gap-4">
								<div class="flex flex-col items-start gap-0.5">
									<span class="text-slate-900 text-xl font-bold" >
										Attendance
									</span>
									<span class="text-stone-600 text-sm" >
										You have clocked in 3/5 working days this week
									</span>
								</div>
								<div class="flex flex-col items-start">
									<div class="flex items-center mb-3 ml-5 gap-[52px]">
										<div class="flex flex-col shrink-0 items-center gap-6">
											<span class="text-stone-600 text-sm font-bold" >
												Mon, 21 Apr
											</span>
											<span class="text-stone-600 text-sm font-bold" >
												Tue, 22 Apr
											</span>
										</div>
										<div class="flex flex-col shrink-0 items-start">
											<div class="flex items-start bg-[#E7F7EA] px-2 gap-2 rounded-lg">
												<img
													src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/v7r9d2qa_expires_30_days.png" 
													class="w-1 h-[21px] rounded-lg object-fill"
												/>
												<div class="w-[172px] h-[21px]">
												</div>
											</div>
											<button class="flex items-center bg-[#E7F7EA] text-left p-2 rounded-lg border-0"
												onclick="alert('Pressed!')"}>
												<img
													src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/nqg72sdd_expires_30_days.png" 
													class="w-1 h-[21px] mr-2 rounded-lg object-fill"
												/>
												<span class="text-slate-900 text-sm font-bold mr-[52px]" >
													Clock out
												</span>
												<span class="text-slate-900 text-sm" >
													5:23pm
												</span>
											</button>
										</div>
									</div>
									<div class="flex items-center py-[7px] px-2">
										<div class="bg-[#0592BA] w-1 h-[47px] mr-2 rounded-[100000px]">
										</div>
										<span class="text-[#0592BA] text-sm font-bold mr-[47px]" >
											Wed, 23 Apr
										</span>
										<div class="flex shrink-0 items-start bg-[#E7F7EA] p-2 gap-2 rounded-lg">
											<img
												src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/r8gczo1t_expires_30_days.png" 
												class="w-1 h-[21px] rounded-lg object-fill"
											/>
											<div class="flex shrink-0 items-center pr-[3px] gap-16">
												<span class="text-slate-900 text-sm font-bold" >
													Clock in
												</span>
												<span class="text-slate-900 text-sm" >
													9:23am
												</span>
											</div>
										</div>
									</div>
									<div class="flex items-center py-3 px-5 gap-12">
										<span class="text-stone-600 text-sm font-bold" >
											Thur, 24 Apr
										</span>
										<span class="text-stone-600 text-xs w-64" >
											Every morning is a new opportunity to rise, grind, and shine! 💪✨
										</span>
									</div>
									<span class="text-stone-600 text-xs mt-3 ml-[152px] mr-[42px]" >
										Every morning is a new opportunity to rise, grind, and shine! 💪✨
									</span>
								</div>
							</div>
							<div class="bg-stone-200 w-[1px] h-[378px] mr-8">
							</div>
							<div class="flex flex-col shrink-0 items-start py-10 gap-4">
								<div class="flex items-center">
									<span class="text-slate-900 text-xl font-bold mb-[1px] mr-[363px]" >
										Application status
									</span>
									<div class="flex shrink-0 items-start p-0.5 gap-[7px]">
										<span class="text-stone-600 text-sm font-bold" >
											Show all
										</span>
										<img
											src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/3ube9l6v_expires_30_days.png" 
											class="w-5 h-5 object-fill"
										/>
									</div>
								</div>
								<div class="flex flex-col items-center">
									<div class="flex items-center bg-white py-4 px-2 gap-2">
										<img
											src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/jltpmkvc_expires_30_days.png" 
											class="w-1 h-[52px] object-fill"
										/>
										<div class="flex flex-col shrink-0 items-start py-1">
											<div class="flex items-center pr-0.5 mb-1">
												<span class="text-slate-900 text-base font-bold mr-[7px]" >
													Leave
												</span>
												<img
													src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/xjqyk3vn_expires_30_days.png" 
													class="w-[3px] h-[3px] mr-1 object-fill"
												/>
												<span class="text-slate-900 text-xs" >
													Submitted 12 July
												</span>
											</div>
											<span class="text-slate-900 text-xs mb-[1px]" >
												Duration - July 10, 2025 to August 05, 2025 (20days)
											</span>
										</div>
										<div class="flex shrink-0 items-center pl-[11px] pr-[3px] gap-1">
											<img
												src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/lxheql6w_expires_30_days.png" 
												class="w-[18px] h-[18px] rounded-2xl object-fill"
											/>
											<span class="text-[#CC8400] text-sm font-bold" >
												Pending
											</span>
										</div>
									</div>
									<div class="flex items-center bg-white py-4 px-2 gap-2">
										<img
											src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/72qqbmsj_expires_30_days.png" 
											class="w-1 h-[52px] object-fill"
										/>
										<div class="flex flex-col shrink-0 items-start py-1">
											<div class="flex items-center pr-0.5 mb-1">
												<span class="text-slate-900 text-base font-bold mr-2" >
													Exemption
												</span>
												<img
													src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/otrvi2tx_expires_30_days.png" 
													class="w-[3px] h-[3px] mr-1 object-fill"
												/>
												<span class="text-slate-900 text-xs" >
													Submitted 12 July
												</span>
											</div>
											<span class="text-slate-900 text-xs mb-[1px]" >
												Duration - July 10, 2025 to August 05, 2025 (20days)
											</span>
										</div>
										<div class="flex flex-col shrink-0 items-center gap-2">
											<div class="flex items-center pr-[3px] gap-1">
												<img
													src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/6n3d7jk9_expires_30_days.png" 
													class="w-[18px] h-[18px] rounded-2xl object-fill"
												/>
												<span class="text-[#0BB02F] text-sm font-bold" >
													Approved
												</span>
											</div>
											<span class="text-stone-600 text-xs" >
												22 Oct, 2020
											</span>
										</div>
									</div>
									<div class="flex items-center bg-white py-4 px-2 gap-2">
										<img
											src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/grxmq0eb_expires_30_days.png" 
											class="w-1 h-[52px] object-fill"
										/>
										<div class="flex flex-col shrink-0 items-start py-1">
											<div class="flex items-center pr-0.5 mb-1">
												<span class="text-slate-900 text-base font-bold mr-[7px]" >
													Leave
												</span>
												<img
													src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/pptnn55t_expires_30_days.png" 
													class="w-[3px] h-[3px] mr-1 object-fill"
												/>
												<span class="text-slate-900 text-xs" >
													Submitted 12 July
												</span>
											</div>
											<span class="text-slate-900 text-xs mb-[1px]" >
												Duration - July 10, 2025 to August 05, 2025 (20days)
											</span>
										</div>
										<div class="flex flex-col shrink-0 items-center gap-2">
											<div class="flex items-center pl-[7px] pr-2.5 gap-1">
												<img
													src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/gxdhiapi_expires_30_days.png" 
													class="w-[18px] h-[18px] rounded-2xl object-fill"
												/>
												<span class="text-[#B20E2A] text-sm font-bold" >
													Declined
												</span>
											</div>
											<span class="text-stone-600 text-xs" >
												22 Oct, 2020
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="flex items-center mb-8 mx-6">
							<span class="text-slate-900 text-xl font-bold mb-[1px] mr-[898px]" >
								Salary history
							</span>
							<div class="flex shrink-0 items-start p-0.5 gap-[7px]">
								<span class="text-stone-600 text-sm font-bold" >
									Show all (12)
								</span>
								<img
									src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/wrv8uf2x_expires_30_days.png" 
									class="w-5 h-5 object-fill"
								/>
							</div>
						</div>
						<div class="flex items-start ml-6 gap-4">
							<div class="flex flex-col shrink-0 items-center bg-white py-6 px-5 rounded-xl border border-solid border-stone-200">
								<div class="flex flex-col items-start mb-2 gap-1">
									<span class="text-slate-900 text-xs" >
										LV-2025-0710-0012
									</span>
									<span class="text-slate-900 text-base w-[261px]" >
										April 28, 2025 (March 28 2025 to April 28, 2025)
									</span>
								</div>
								<span class="text-slate-900 text-sm font-bold mb-[13px]" >
									Total paid (Net income) - ₦ 300,015.64
								</span>
								<div class="flex items-center gap-[7px]">
									<div class="flex flex-col shrink-0 items-start gap-2">
										<button class="flex items-center bg-[#E7F7EA] text-left py-1 px-2.5 gap-1 rounded-2xl border border-solid border-[#1212121A]"
											onclick="alert('Pressed!')"}>
											<img
												src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/c2320ug9_expires_30_days.png" 
												class="w-[18px] h-[18px] rounded-2xl object-fill"
											/>
											<span class="text-[#0BB02F] text-sm font-bold" >
												Paid
											</span>
										</button>
										<span class="text-stone-600 text-xs" >
											22 Oct, 2020
										</span>
									</div>
									<button class="flex shrink-0 items-center bg-[#06B6E9] text-left py-2 px-2.5 gap-[11px] rounded-[100000px] border-0"
										onclick="alert('Pressed!')"}>
										<span class="text-white text-sm font-bold" >
											Download payslip
										</span>
										<img
											src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/jw0dnqhx_expires_30_days.png" 
											class="w-4 h-4 rounded-[100000px] object-fill"
										/>
									</button>
								</div>
							</div>
							<div class="flex flex-col shrink-0 items-center bg-white py-6 px-5 rounded-xl border border-solid border-stone-200">
								<div class="flex flex-col items-start mb-2 gap-1">
									<span class="text-slate-900 text-xs" >
										LV-2025-0710-0012
									</span>
									<span class="text-slate-900 text-base w-[261px]" >
										April 28, 2025 (March 28 2025 to April 28, 2025)
									</span>
								</div>
								<span class="text-slate-900 text-sm font-bold mb-[13px]" >
									Total paid (Net income) - ₦ 300,015.64
								</span>
								<div class="flex items-center gap-[7px]">
									<div class="flex flex-col shrink-0 items-start gap-2">
										<button class="flex items-center bg-[#E7F7EA] text-left py-1 px-2.5 gap-1 rounded-2xl border border-solid border-[#1212121A]"
											onclick="alert('Pressed!')"}>
											<img
												src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/84gq8qc0_expires_30_days.png" 
												class="w-[18px] h-[18px] rounded-2xl object-fill"
											/>
											<span class="text-[#0BB02F] text-sm font-bold" >
												Paid
											</span>
										</button>
										<span class="text-stone-600 text-xs" >
											22 Oct, 2020
										</span>
									</div>
									<button class="flex shrink-0 items-center bg-[#06B6E9] text-left py-2 px-2.5 gap-[11px] rounded-[100000px] border-0"
										onclick="alert('Pressed!')"}>
										<span class="text-white text-sm font-bold" >
											Download payslip
										</span>
										<img
											src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/jjc4w913_expires_30_days.png" 
											class="w-4 h-4 rounded-[100000px] object-fill"
										/>
									</button>
								</div>
							</div>
							<div class="flex flex-col shrink-0 items-center bg-white py-6 px-5 rounded-xl border border-solid border-stone-200">
								<div class="flex flex-col items-start mb-2 gap-1">
									<span class="text-slate-900 text-xs" >
										LV-2025-0710-0012
									</span>
									<span class="text-slate-900 text-base w-[261px]" >
										April 28, 2025 (March 28 2025 to April 28, 2025)
									</span>
								</div>
								<span class="text-slate-900 text-sm font-bold mb-[13px]" >
									Total paid (Net income) - ₦ 300,015.64
								</span>
								<div class="flex items-center gap-[7px]">
									<div class="flex flex-col shrink-0 items-start gap-2">
										<button class="flex items-center bg-[#E7F7EA] text-left py-1 px-2.5 gap-1 rounded-2xl border border-solid border-[#1212121A]"
											onclick="alert('Pressed!')"}>
											<img
												src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/bxqg4cs3_expires_30_days.png" 
												class="w-[18px] h-[18px] rounded-2xl object-fill"
											/>
											<span class="text-[#0BB02F] text-sm font-bold" >
												Paid
											</span>
										</button>
										<span class="text-stone-600 text-xs" >
											22 Oct, 2020
										</span>
									</div>
									<button class="flex shrink-0 items-center bg-[#06B6E9] text-left py-2 px-2.5 gap-[11px] rounded-[100000px] border-0"
										onclick="alert('Pressed!')"}>
										<span class="text-white text-sm font-bold" >
											Download payslip
										</span>
										<img
											src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/9inv45y3_expires_30_days.png" 
											class="w-4 h-4 rounded-[100000px] object-fill"
										/>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="bg-stone-200 w-[1436px] h-[1px] absolute top-[102px] left-0">
					</div>
					<div class="flex flex-col items-start bg-white w-[301px] absolute top-[271px] right-[-74px] rounded-2xl border border-solid border-[#F5F5F4B0]" style="box-shadow: 0px 1px 2px #0A0C120D">
						<div class="flex items-center mt-4 mb-[27px] ml-5">
							<img
								src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/pnamnbu5_expires_30_days.png" 
								class="w-[52px] h-[52px] mr-20 object-fill"
							/>
							<span class="text-stone-600 text-base font-bold" >
								View details
							</span>
						</div>
						<span class="text-slate-900 text-base font-bold mb-[15px] mx-5" >
							Collaboration & Handoff - Heckerpeople
						</span>
						<div class="flex items-center mb-2 ml-5 gap-1">
							<img
								src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/ftf1slmo_expires_30_days.png" 
								class="w-[18px] h-[18px] object-fill"
							/>
							<span class="text-stone-600 text-sm" >
								Complete HeckerPeople HI-FI designs
							</span>
						</div>
						<div class="flex items-center mb-2 ml-5 gap-1">
							<img
								src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/f7l2niql_expires_30_days.png" 
								class="w-[18px] h-[18px] object-fill"
							/>
							<span class="text-stone-600 text-sm" >
								Complete HeckerPeople HI-FI designs
							</span>
						</div>
						<span class="text-stone-400 text-sm mb-[13px] ml-5" >
							+ 3 others
						</span>
						<div class="flex items-center mb-4 ml-5">
							<span class="text-stone-600 text-sm font-bold mr-1.5" >
								Achievement
							</span>
							<span class="text-stone-600 text-sm font-bold mr-[7px]" >
								-
							</span>
							<button class="flex flex-col shrink-0 items-start bg-neutral-100 text-left py-1 px-3 rounded-2xl border-0"
								onclick="alert('Pressed!')"}>
								<span class="text-slate-900 text-sm font-bold" >
									0%
								</span>
							</button>
						</div>
					</div>
					<div class="flex flex-col items-start bg-white w-[307px] absolute bottom-16 right-[-98px] rounded-xl border border-solid border-stone-200">
						<span class="text-slate-900 text-xs mt-6 mb-1 ml-5" >
							LV-2025-0710-0012
						</span>
						<span class="text-slate-900 text-base mb-2 mx-5" >
							April 28, 2025 (March 28 2025 to April 28, 2025)
						</span>
						<span class="text-slate-900 text-sm font-bold mb-[13px] ml-5" >
							Total paid (Net income) - ₦ 300,015.64
						</span>
						<div class="flex items-center self-stretch mb-5 mx-5 gap-[7px]">
							<div class="flex flex-col shrink-0 items-start gap-2">
								<button class="flex items-center bg-[#E7F7EA] text-left py-1 px-2.5 gap-1 rounded-2xl border border-solid border-[#1212121A]"
									onclick="alert('Pressed!')"}>
									<img
										src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/oipd3zju_expires_30_days.png" 
										class="w-[18px] h-[18px] rounded-2xl object-fill"
									/>
									<span class="text-[#0BB02F] text-sm font-bold" >
										Paid
									</span>
								</button>
								<span class="text-stone-600 text-xs" >
									22 Oct, 2020
								</span>
							</div>
							<input
								type="text"
								placeholder="Download payslip"
								class="shrink-0 text-white bg-[#06B6E9] text-sm font-bold py-2 px-2.5 rounded-[100000px] border-0"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>