<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overlay</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            font-family: system-ui;
        }
    </style>
</head>

<body>
    <div class="flex flex-col bg-white">
        <div class="self-stretch bg-[#0000001A] h-[1442px]">
            <div class="flex flex-col items-start self-stretch bg-white py-5 my-[100px] mx-[400px] gap-6 rounded-2xl border border-solid border-stone-200"
                style="box-shadow: 0px 10px 10px #00000008">
                <div class="flex items-start ml-[122px]">
                    <div class="flex flex-col shrink-0 items-center py-6 mr-20 gap-4">
                        <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/vyz94wm5_expires_30_days.png"
                            class="w-[104px] h-[104px] object-fill" />
                        <div class="flex flex-col items-center">
                            <span class="text-slate-900 text-[28px] font-bold">
                                Ayo Adebisi
                            </span>
                            <span class="text-stone-600 text-base">
                                Product Desigher III
                            </span>
                        </div>
                    </div>
                    <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/o5im8joa_expires_30_days.png"
                        class="w-[22px] h-[22px] rounded-[100000px] object-fill" />
                </div>
                <div class="self-stretch mx-5">
                    <div class="flex justify-between items-center self-stretch py-4 pl-4 pr-[381px]">
                        <span class="text-stone-600 text-base">
                            Unique ID
                        </span>
                        <span class="text-slate-900 text-base font-bold">
                            HL012
                        </span>
                    </div>
                    <div class="flex justify-between items-center self-stretch py-4 pl-4 pr-[303px]">
                        <span class="text-stone-600 text-base">
                            Location
                        </span>
                        <span class="text-slate-900 text-base font-bold">
                            Heckerbella HQ
                        </span>
                    </div>
                    <div class="flex justify-between items-center self-stretch py-3.5 pl-4 pr-[330px]">
                        <span class="text-stone-600 text-base">
                            Department
                        </span>
                        <button
                            class="flex flex-col shrink-0 items-start bg-neutral-100 text-left py-1 px-3 rounded-2xl border-0"
                            onclick="alert('Pressed!')" }>
                            <span class="text-slate-900 text-sm font-bold">
                                Operations
                            </span>
                        </button>
                    </div>
                    <div class="flex justify-between items-start self-stretch py-4 pl-4 pr-[316px]">
                        <span class="text-stone-600 text-base">
                            Account Status
                        </span>
                        <button
                            class="flex flex-col shrink-0 items-start bg-[#FCE7EB] text-left py-0.5 px-3 rounded-2xl border-0"
                            onclick="alert('Pressed!')" }>
                            <span class="text-[#B20E2A] text-sm font-bold">
                                De-activated
                            </span>
                        </button>
                    </div>
                    <div class="flex justify-between items-center self-stretch py-4 pl-4 pr-[309px]">
                        <span class="text-stone-600 text-base">
                            Phone number
                        </span>
                        <span class="text-slate-900 text-base font-bold">
                            9000 123 4567
                        </span>
                    </div>
                    <div class="flex justify-between items-center self-stretch py-4 pl-4 pr-[285px]">
                        <span class="text-stone-600 text-base">
                            Work schedule
                        </span>
                        <span class="text-slate-900 text-base font-bold">
                            Monday-thursday
                        </span>
                    </div>
                    <div class="flex justify-between items-center self-stretch py-4 pl-4 pr-[392px]">
                        <span class="text-stone-600 text-base">
                            Gender
                        </span>
                        <span class="text-slate-900 text-base font-bold">
                            Male
                        </span>
                    </div>
                    <div class="flex justify-between items-center self-stretch py-4 pl-4 pr-[259px]">
                        <span class="text-stone-600 text-base">
                            Email
                        </span>
                        <span class="text-slate-900 text-base font-bold">
                            turi.o@example.com
                        </span>
                    </div>
                    <div class="flex justify-between items-center self-stretch py-4 pl-4 pr-[161px]">
                        <span class="text-stone-600 text-base">
                            Address
                        </span>
                        <span class="text-slate-900 text-base font-bold">
                            1234 Maple Street, Lagos, Nigeria
                        </span>
                    </div>
                    <div class="flex justify-between items-center self-stretch py-4 pl-4 pr-[382px]">
                        <span class="text-stone-600 text-base">
                            State
                        </span>
                        <span class="text-slate-900 text-base font-bold">
                            Lagos
                        </span>
                    </div>
                    <div class="flex justify-between items-center self-stretch py-4 pl-4 pr-[371px]">
                        <span class="text-stone-600 text-base">
                            Country
                        </span>
                        <span class="text-slate-900 text-base font-bold">
                            Nigeria
                        </span>
                    </div>
                    <div class="flex justify-between items-center self-stretch py-4 pl-4 pr-[342px]">
                        <span class="text-stone-600 text-base">
                            Employment type
                        </span>
                        <span class="text-slate-900 text-base font-bold">
                            Permanent
                        </span>
                    </div>
                    <div class="flex justify-between items-center self-stretch py-4 pl-4 pr-[331px]">
                        <span class="text-stone-600 text-base">
                            Date of Birth
                        </span>
                        <span class="text-slate-900 text-base font-bold">
                            1988-06-03
                        </span>
                    </div>
                    <div class="flex justify-between items-start self-stretch py-4 pl-4 pr-[250px]">
                        <span class="text-stone-600 text-base">
                            Created by
                        </span>
                        <div class="flex shrink-0 items-center gap-2.5">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/33xm9o91_expires_30_days.png"
                                class="w-6 h-6 object-fill" />
                            <span class="text-slate-900 text-xs font-bold my-1">
                                Samuel Allison Chukwu
                            </span>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col self-stretch mx-5 gap-6">
                    <button
                        class="flex flex-col items-center self-stretch bg-[#E5EFF7] text-left py-4 rounded-[100000px] border-0"
                        onclick="alert('Pressed!')" }>
                        <span class="text-[#005FAD] text-base font-bold">
                            View basic Information
                        </span>
                    </button>
                    <button
                        class="flex flex-col items-center self-stretch bg-white text-left py-4 rounded-[100000px] border border-solid border-stone-200"
                        style="box-shadow: 0px 1px 2px #0A0C120D" onclick="alert('Pressed!')" }>
                        <span class="text-slate-900 text-base font-bold">
                            Restore user account
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>