<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            font-family: system-ui;
        }
    </style>
</head>

<body>
    <div class="flex flex-col bg-white">
        <div class="flex flex-col items-start self-stretch bg-neutral-100 h-[1081px]">
            <div class="flex items-center gap-4">
                <div class="flex flex-col shrink-0 items-start relative pt-4 pb-28 px-2">
                    <div
                        class="flex flex-col items-start bg-white pb-[13px] rounded-[20px] border border-solid border-stone-200">
                        <div class="flex items-center p-4 mb-7 gap-2.5">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/2o7rqp59_expires_30_days.png"
                                class="w-[204px] h-10 object-fill" />
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/b2wc95mu_expires_30_days.png"
                                class="w-6 h-6 object-fill" />
                        </div>
                        <div class="flex items-center bg-white p-3 mb-7 mx-3 rounded-2xl border border-solid border-stone-200"
                            style="box-shadow: 0px 1px 2px #0A0C120D">
                            <div class="flex shrink-0 items-center gap-3">
                                <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/9fofrckw_expires_30_days.png"
                                    class="w-10 h-10 object-fill" />
                                <div class="flex flex-col shrink-0 items-start">
                                    <span class="text-slate-900 text-sm font-bold my-1 ml-[1px] mr-[61px]">
                                        Maria Afolabi
                                    </span>
                                    <span class="text-stone-600 text-sm">
                                        Unit Head
                                    </span>
                                </div>
                            </div>
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/bpmcs1oi_expires_30_days.png"
                                class="w-4 h-4 rounded-2xl object-fill" />
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/6ldc85lg_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                Dashboard
                            </span>
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/0i30qrwh_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                My department
                            </span>
                        </div>
                        <div class="flex items-center bg-[#E6F8FD] py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/6nl7f1qi_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <input type="text" placeholder="Employees"
                                class="text-[#0592BA] bg-transparent text-sm font-bold w-[73px] py-[1px] border-0" />
                        </div>
                        <div class="flex items-center py-3 px-4 mb-1 mx-3 gap-2.5 rounded-xl">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/m5zr3mdk_expires_30_days.png"
                                class="w-5 h-5 rounded-xl object-fill" />
                            <span class="text-stone-500 text-sm font-bold">
                                Attendance
                            </span>
                        </div>
                        
                        
                        
                        <span class="text-stone-400 text-xs ml-7">
                            HeckerPeople App V1.0.0
                        </span>
                    </div>
                    <span class="text-stone-400 text-xs absolute bottom-[103px] left-9">
                        © Heckerbella Ltd 2025
                    </span>
                </div>
                <div class="flex flex-col shrink-0 items-start relative">
                    <div
                        class="flex flex-col items-start bg-white pb-[30px] rounded-[20px] border border-solid border-stone-200">
                        <div class="flex items-center mt-[22px] mb-[42px] mx-5">
                            <span class="text-slate-900 text-2xl font-bold mb-[1px] mr-[479px]">
                                Employees
                            </span>
                            <div class="flex shrink-0 items-start pl-5 gap-4">
                                <button
                                    class="flex flex-col shrink-0 items-start bg-white text-left py-[13px] px-5 rounded-[100000px] border border-solid border-stone-200"
                                    style="box-shadow: 0px 1px 2px #0A0C120D" onclick="alert('Pressed!')" }>
                                    <span class="text-slate-900 text-base font-bold">
                                        Deleted accounts
                                    </span>
                                </button>
                                <button
                                    class="flex shrink-0 items-center bg-white text-left py-[13px] px-5 gap-2 rounded-[100000px] border border-solid border-stone-200"
                                    style="box-shadow: 0px 1px 2px #0A0C120D" onclick="alert('Pressed!')" }>
                                    <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/3hsglddc_expires_30_days.png"
                                        class="w-5 h-5 rounded-[100000px] object-fill" />
                                    <span class="text-slate-900 text-base font-bold">
                                        Import
                                    </span>
                                </button>
                                <button
                                    class="flex shrink-0 items-center bg-[#06B6E9] text-left py-[13px] px-5 gap-2 rounded-[100000px] border-0"
                                    onclick="alert('Pressed!')" }>
                                    <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/vhef5o09_expires_30_days.png"
                                        class="w-5 h-5 rounded-[100000px] object-fill" />
                                    <span class="text-white text-base font-bold">
                                        Add employee
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="flex items-center mb-6 mx-5">
                            <span class="text-stone-600 text-sm mr-[188px]">
                                Showing all 1,245 employees
                            </span>
                            <div class="flex shrink-0 items-center pl-5 gap-4">
                                <div class="flex shrink-0 items-center gap-[11px]">
                                    <span class="text-stone-400 text-sm">
                                        Items per page
                                    </span>
                                    <button
                                        class="flex shrink-0 items-center bg-white text-left py-2 px-3 gap-6 rounded-lg border border-solid border-stone-200"
                                        style="box-shadow: 0px 1px 2px #0A0C120D" onclick="alert('Pressed!')" }>
                                        <span class="text-slate-900 text-sm">
                                            10
                                        </span>
                                        <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/qb4opxu3_expires_30_days.png"
                                            class="w-[18px] h-[18px] object-fill" />
                                    </button>
                                </div>
                                <button
                                    class="flex flex-col shrink-0 items-start bg-white text-left py-3.5 px-[17px] rounded-[100000px] border border-solid border-stone-200"
                                    style="box-shadow: 0px 1px 2px #0A0C120D" onclick="alert('Pressed!')" }>
                                    <span class="text-slate-900 text-sm font-bold">
                                        Group assign
                                    </span>
                                </button>
                                <button
                                    class="flex shrink-0 items-start bg-white text-left py-[9px] px-4 rounded-[100000px] border border-solid border-stone-200"
                                    style="box-shadow: 0px 1px 2px #0A0C120D" onclick="alert('Pressed!')" }>
                                    <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/doq96tmu_expires_30_days.png"
                                        class="w-5 h-5 mr-2 rounded-[100000px] object-fill" />
                                    <span class="text-slate-900 text-sm font-bold mr-[11px]">
                                        Filters
                                    </span>
                                    <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/x56hsznv_expires_30_days.png"
                                        class="w-5 h-5 rounded-[100000px] object-fill" />
                                </button>
                                <div class="flex shrink-0 items-center bg-white py-2 px-3 gap-2 rounded-xl border border-solid border-stone-200"
                                    style="box-shadow: 0px 1px 2px #0A0C120D">
                                    <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/7m76636r_expires_30_days.png"
                                        class="w-[18px] h-[18px] object-fill" />
                                    <input type="text" placeholder="Search keyword"
                                        class="text-stone-400 bg-transparent text-sm w-[200px] border-0" />
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col items-start bg-white mx-5 rounded-xl border border-solid border-[#1212121A]"
                            style="box-shadow: 0px 1px 2px #0A0C120D">
                            <div class="flex items-start">
                                <div class="flex flex-col shrink-0 items-start">
                                    <div class="flex flex-col items-start bg-[#E6F8FD] pt-3.5 pb-[15px] px-5">
                                        <span class="text-slate-900 text-sm font-bold">
                                            S/N
                                        </span>
                                    </div>
                                    <span class="text-slate-900 text-sm my-[25px] mx-5">
                                        1
                                    </span>
                                   
                                    
                                    
                                    
                                </div>
                                <div class="flex flex-col shrink-0 items-center">
                                    <div class="flex flex-col items-start bg-[#E6F8FD] pt-3.5 pb-[15px] px-5">
                                        <span class="text-slate-900 text-sm font-bold">
                                            Unique ID
                                        </span>
                                    </div>
                                    <span class="text-slate-900 text-sm my-[25px] mx-5">
                                        HL012
                                    </span>
                                   
                                    
                                    </span>
                                   
                                    
                                </div>
                                <div class="flex flex-col shrink-0 items-start">
                                    <div
                                        class="flex flex-col items-start bg-[#E6F8FD] pt-3.5 pb-[15px] pl-5 pr-[162px]">
                                        <span class="text-slate-900 text-sm font-bold">
                                            Full Name
                                        </span>
                                    </div>
                                    <div class="flex items-center p-5">
                                        <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/lgcau4hx_expires_30_days.png"
                                            class="w-8 h-8 mr-3 object-fill" />
                                        <span class="text-slate-900 text-sm font-bold mb-[1px] mr-[61px]">
                                            Akinyemi Alabi
                                        </span>
                                    </div>
                                 
                                </div>
                                <div class="flex flex-col shrink-0 items-start">
                                    <div
                                        class="flex flex-col items-start bg-[#E6F8FD] pt-3.5 pb-[15px] pl-5 pr-[100px]">
                                        <span class="text-slate-900 text-sm font-bold">
                                            Location
                                        </span>
                                    </div>
                                    <span class="text-slate-900 text-sm my-[25px] ml-5 mr-[51px]">
                                        Heckerbella HQ
                                    </span>
                                  
                                    
                                </div>
                                <div class="flex flex-col shrink-0 items-start">
                                    <div class="flex flex-col items-start bg-[#E6F8FD] pt-3.5 pb-[15px] pl-5 pr-[76px]">
                                        <span class="text-slate-900 text-sm font-bold">
                                            Department
                                        </span>
                                    </div>
                                    <button
                                        class="flex flex-col items-start bg-neutral-100 text-left py-0.5 px-3 my-6 ml-5 mr-[62px] rounded-2xl border-0"
                                        onclick="alert('Pressed!')" }>
                                        <span class="text-slate-900 text-sm font-bold">
                                            Operations
                                        </span>
                                    </button>
                                  
                                    
                                </div>
                                <div class="flex flex-col shrink-0 items-start">
                                    <div class="flex flex-col items-start bg-[#E6F8FD] pt-3.5 pb-[15px] pl-5 pr-[86px]">
                                        <span class="text-slate-900 text-sm font-bold">
                                            Status
                                        </span>
                                    </div>
                                    <button
                                        class="flex flex-col items-start bg-[#FCE7EB] text-left py-0.5 px-3 my-6 mx-5 rounded-2xl border-0"
                                        onclick="alert('Pressed!')" }>
                                        <span class="text-[#B20E2A] text-sm font-bold">
                                            De-activated
                                        </span>
                                    </button>
                                  
                                    
                                </div>
                                <div class="flex flex-col shrink-0 items-start">
                                    <div class="flex flex-col items-start bg-[#E6F8FD] pt-3.5 pb-[15px] pl-5 pr-[58px]">
                                        <span class="text-slate-900 text-sm font-bold">
                                            Phone number
                                        </span>
                                    </div>
                                    <span class="text-slate-900 text-sm my-[25px] mx-5">
                                        +234 905 678 9012
                                    </span>
                                    
                                </div>
                            </div>
                            <div class="flex items-center py-4 px-[335px] gap-2">
                                <div class="flex shrink-0 items-center py-2 px-3 gap-2 rounded-lg">
                                    <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/q1eyghmf_expires_30_days.png"
                                        class="w-4 h-4 rounded-lg object-fill" />
                                    <span class="text-stone-400 text-base">
                                        Previous
                                    </span>
                                </div>
                                <div class="flex shrink-0 items-start">
                                    <input type="text" placeholder="1"
                                        class="shrink-0 text-white bg-[#06B6E9] text-base font-bold p-2 mr-2 rounded-lg border border-solid border-[#1212121A]" />
                                    <span class="text-stone-600 text-base font-bold my-2 ml-2 mr-7">
                                        2
                                    </span>
                                    <span class="text-stone-600 text-base font-bold my-2 ml-2 mr-7">
                                        3
                                    </span>
                                    <span class="text-black text-base font-bold my-2 ml-4 mr-6">
                                        ...
                                    </span>
                                    <span class="text-stone-600 text-base font-bold my-2 ml-2 mr-4">
                                        67
                                    </span>
                                    <span class="text-stone-600 text-base font-bold m-2">
                                        68
                                    </span>
                                </div>
                                <div class="flex shrink-0 items-center py-2 px-3 gap-3 rounded-lg">
                                    <span class="text-stone-400 text-base">
                                        Next
                                    </span>
                                    <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/xqot76l1_expires_30_days.png"
                                        class="w-4 h-4 rounded-lg object-fill" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-stone-200 w-[1436px] h-[1px] absolute top-[91px] left-0">
                    </div>
                    <div class="bg-[#E6F8FD] w-[100px] h-12 absolute top-44 right-[-58px]">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>