<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overlay</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body {
            font-family: system-ui;
        }
    </style>
</head>

<body>
    <div class="flex flex-col bg-white">
        <div class="self-stretch bg-[#0000001A] h-[988px]">
            <div class="flex items-start self-stretch my-[91px] mx-[132px] gap-[18px]">
                <div class="flex flex-col shrink-0 items-start bg-white mt-[349px] rounded-lg">
                    <span class="text-slate-900 text-sm font-bold my-3 ml-3 mr-[123px]">
                        Choose location
                    </span>
                    <div class="flex flex-col items-start py-1">
                        <div class="flex items-center bg-[#06B6E9] py-2 px-3">
                            <span class="text-white text-sm font-bold mb-[1px] mr-[106px]">
                                Heckerbella HQ
                            </span>
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/mpz63d32_expires_30_days.png"
                                class="w-[18px] h-[18px] object-fill" />
                        </div>
                        <div class="flex flex-col items-start bg-white pt-2 pb-[9px] pl-3 pr-[149px]">
                            <span class="text-slate-900 text-sm font-bold">
                                Ekiti HB Team
                            </span>
                        </div>
                        <div class="flex flex-col items-start bg-white pt-2 pb-[9px] pl-3 pr-24">
                            <span class="text-slate-900 text-sm font-bold">
                                KAM Holding Sagamu
                            </span>
                        </div>
                    </div>
                </div>
                <div class="flex flex-1 flex-col items-start bg-white py-5 rounded-2xl border border-solid border-stone-200"
                    style="box-shadow: 0px 10px 10px #00000008">
                    <div class="flex items-start self-stretch mb-1 mx-5">
                        <span class="flex-1 text-slate-900 text-[28px] font-bold">
                            Group assign
                        </span>
                        <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/zvy2xmbl_expires_30_days.png"
                            class="w-[22px] h-[22px] mt-[1px] rounded-[100000px] object-fill" />
                    </div>
                    <span class="text-stone-600 text-sm mb-6 ml-5">
                        Assign department, location, salary scale etc. to multiple employees quickly.
                    </span>
                    <div class="flex items-start mb-6 ml-5 gap-[3px]">
                        <div class="flex flex-col shrink-0 items-start pt-6">
                            <div class="flex flex-col items-start mb-6">
                                <span class="text-slate-900 text-base font-bold mt-1 mb-5 mr-56">
                                    Assignment type
                                </span>
                                <div class="flex flex-col items-start gap-4">
                                    <div class="flex items-start gap-4">
                                        <div class="flex shrink-0 items-center bg-white py-2 px-3 gap-3 rounded-[100000px] border border-solid border-stone-200"
                                            style="box-shadow: 0px 1px 2px #0A0C120D">
                                            <div class="w-5 h-5 rounded-[10000px] border border-solid border-stone-200">
                                            </div>
                                            <span class="text-slate-900 text-base">
                                                Employment type
                                            </span>
                                        </div>
                                        <div class="flex shrink-0 items-center bg-white py-2 px-3 gap-3 rounded-[100000px] border border-solid border-stone-200"
                                            style="box-shadow: 0px 1px 2px #0A0C120D">
                                            <div class="w-5 h-5 rounded-[10000px] border border-solid border-stone-200">
                                            </div>
                                            <span class="text-slate-900 text-base">
                                                Work schedule
                                            </span>
                                        </div>
                                        <div class="flex shrink-0 items-center bg-white py-2 px-3 gap-3 rounded-[100000px] border border-solid border-stone-200"
                                            style="box-shadow: 0px 1px 2px #0A0C120D">
                                            <div
                                                class="bg-white w-5 h-5 rounded-[10000px] border-4 border-solid border-[#06B6E9]">
                                            </div>
                                            <span class="text-slate-900 text-base">
                                                Location
                                            </span>
                                        </div>
                                    </div>
                                    <div class="flex items-start gap-4">
                                        <div class="flex shrink-0 items-center bg-white py-2 px-3 gap-3 rounded-[100000px] border border-solid border-stone-200"
                                            style="box-shadow: 0px 1px 2px #0A0C120D">
                                            <div class="w-5 h-5 rounded-[10000px] border border-solid border-stone-200">
                                            </div>
                                            <span class="text-slate-900 text-base">
                                                Department
                                            </span>
                                        </div>
                                        <div class="flex shrink-0 items-center bg-white py-2 px-3 gap-3 rounded-[100000px] border border-solid border-stone-200"
                                            style="box-shadow: 0px 1px 2px #0A0C120D">
                                            <div class="w-5 h-5 rounded-[10000px] border border-solid border-stone-200">
                                            </div>
                                            <span class="text-slate-900 text-base">
                                                Salary Scale
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-stone-100 w-[672px] h-0.5 mt-4 mb-10">
                            </div>
                            <div class="flex flex-col items-start mb-6 gap-[9px]">
                                <span class="text-slate-900 text-sm font-bold mr-[612px]">
                                    Location
                                </span>
                                <div
                                    class="flex items-center bg-white py-3.5 px-3 rounded-lg border border-solid border-stone-200">
                                    <input type="text" placeholder="Heckerbella HQ"
                                        class="text-slate-900 bg-transparent text-base w-[596px] border-0" />
                                    <div class="flex shrink-0 items-start">
                                        <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/84dy8dks_expires_30_days.png"
                                            class="w-[18px] h-[18px] mr-[7px] object-fill" />
                                        <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/dibggqm7_expires_30_days.png"
                                            class="w-[7px] h-[18px] mr-[1px] object-fill" />
                                        <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/7ddc4zep_expires_30_days.png"
                                            class="w-[18px] h-[18px] object-fill" />
                                    </div>
                                </div>
                            </div>
                            <div class="flex flex-col items-start gap-4">
                                <div class="flex flex-col items-start pt-4 gap-2.5">
                                    <div class="bg-stone-100 w-[672px] h-0.5">
                                    </div>
                                    <span class="text-stone-600 text-lg font-bold">
                                        Select users
                                    </span>
                                </div>
                                <div class="flex items-center px-4 gap-5">
                                    <div class="flex shrink-0 items-center py-3.5 px-1">
                                        <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/afcr57nv_expires_30_days.png"
                                            class="w-[18px] h-[18px] mr-2 object-fill" />
                                        <span class="text-stone-400 text-base mb-[1px] mr-[294px]">
                                            Search employee name
                                        </span>
                                    </div>
                                    <div class="flex shrink-0 items-center pr-[3px] gap-3">
                                        <div class="w-5 h-5 rounded border border-solid border-stone-200">
                                        </div>
                                        <span class="text-slate-900 text-base">
                                            Select all
                                        </span>
                                    </div>
                                </div>
                                <div class="flex flex-col items-start">
                                    <div class="flex items-center bg-[#F5F5F599] py-3 px-4 gap-5">
                                        <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/77mzvxbm_expires_30_days.png"
                                            class="w-5 h-5 object-fill" />
                                        <div class="flex shrink-0 items-center gap-2.5">
                                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/t0vkk7a7_expires_30_days.png"
                                                class="w-8 h-8 object-fill" />
                                            <span class="text-slate-900 text-sm font-bold my-1">
                                                Akinyemi Alabi
                                            </span>
                                        </div>
                                        <div class="flex shrink-0 items-center p-0.5 gap-[5px]">
                                            <span class="text-stone-600 text-xs font-bold">
                                                Selected
                                            </span>
                                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/zx7nxf7x_expires_30_days.png"
                                                class="w-[18px] h-[18px] object-fill" />
                                        </div>
                                    </div>
                                    <div class="flex items-center py-3 px-4 gap-5">
                                        <div class="w-5 h-5 rounded border border-solid border-stone-200">
                                        </div>
                                        <div class="flex shrink-0 items-center gap-2.5">
                                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/59ql017s_expires_30_days.png"
                                                class="w-8 h-8 object-fill" />
                                            <span class="text-slate-900 text-sm font-bold my-1">
                                                Ayo Adebisi
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col shrink-0 items-center bg-[#F1F1F1] py-1.5 px-0.5">
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/x9ctlgfw_expires_30_days.png"
                                class="w-[7px] h-[7px] mb-[1px] object-fill" />
                            <div class="bg-[#C1C1C1] w-[13px] h-[25px] mb-[539px]">
                            </div>
                            <img src="https://storage.googleapis.com/tagjs-prod.appspot.com/v1/rKqiLQlii5/g6yr4vti_expires_30_days.png"
                                class="w-[7px] h-[7px] object-fill" />
                        </div>
                    </div>
                    <div class="flex items-start self-stretch mx-5 gap-3">
                        <div class="flex flex-1 flex-col items-center py-[19px] rounded-[100000px]">
                            <span class="text-stone-600 text-base font-bold">
                                Cancel
                            </span>
                        </div>
                        <button
                            class="flex flex-1 flex-col items-center bg-[#06B6E9] text-left py-[19px] rounded-[100000px] border-0"
                            onclick="alert('Pressed!')" }>
                            <span class="text-white text-base font-bold">
                                Assign user(s)
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>